body {
  position: relative;
  padding-top: 48px;
  background-color: #fff;
  margin: 0px 10px 20px;
  font-size: 13px;
}

header h1 {
  margin-bottom: 6px;
  font-size: 42px;
  font-weight: bold;
  line-height: 1;
}
header p {
  margin-bottom: 6px;
  font-weight: 300;
}

section {
  margin-top: 25px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  font-size: 80%;
  margin: 20px 0px;
}


.navbar-fixed-top .brand {
  padding-right: 20px;
  padding-left: 0;
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.page-header > h2 {
  margin-bottom: -16px;
}

.dl-horizontal dt {
  width:165px;
}
.dl-horizontal dd {
  margin-left:180px;
}

@media (max-width: 480px) {
  body {
    padding-top: 0px;
  }
  section {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 0px;
  }  
}

@media (min-width: 480px) and (max-width: 768px) {
  header h1 {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  body {
    padding-top: 0;
  }
  header h1 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1000px;
  }
}