---
layout: default
---

<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>Call For Papers 2016</h2>

<p>
The 13th IEEE Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together researchers and practitioners from academia, government, and industry to address the needs of the cybersecurity community through new and insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange and new collaborations on a broad range of security- and privacy-related topics. VizSec will be held in Baltimore, MD, USA in conjunction with IEEE VIS.
</p>
<p>
The purpose of VizSec is to explore effective and scalable visual interfaces for security domains such as network security, computer forensics, reverse engineering, insider threat detection, cryptography, privacy, user assisted attacks prevention, compliance management, wireless security, secure coding, and penetration testing.
</p>

<h4>Technical Papers</h4>
<p>
Full papers describing novel contributions in security visualization are solicited. Papers may present techniques, applications, theory, analysis, experiments, or evaluations. We encourage the submission of papers on technologies and methods that promise to improve cyber security practices, including, but not limited to:
</p>

<ul>
	<li>Situation awareness and/or understanding</li>
	<li>Incident handling including triage, exploration, correlation, and response</li>
	<li>Computer forensics</li>
	<li>Recording and reporting results of investigations</li>
	<li>Assisting proactive security configuration and deployment</li>
	<li>Reverse engineering and malware analysis</li>
	<li>Vulnerability management</li>
	<li>Multiple data source analysis</li>
	<li>Analyzing information requirements for computer network defense</li>
	<li>Evaluation and/or user testing of VizSec systems</li>
	<li>Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal perspective or a human factors perspective)</li>
	<li>Modeling system and network behavior</li>
	<li>Modeling attacker and defender behavior</li>
	<li>Studying risk and impact of cyber attacks</li>
	<li>Predicting future attacks or targets</li>
	<li>Security metrics and education</li>
	<li>Software security</li>
	<li>Mobile application security</li>
	<li>Social networking privacy and security</li>
</ul>

<br/>
<p>
When applicable, visualization and interaction techniques that effectively capture the insights of human analysts and/or allow analysts to collaborate efficiently are particularly desirable.
</p>

<h4>Case Studies</h4>
<p>
<strong>New for 2016!</strong> Short papers describing practical applications of security visualization are solicited. We encourage the submission of papers discussing the introduction of cyber security visualizations into operational context, including, but not limited to:
</p>

<ul>
	<li>Cases where visualization made positive contributions towards meeting operational needs</li>
	<li>Gaps or negative outcomes from visualization deployments</li>
	<li>Situations where visualization was not utilized, but could have had a positive impact</li>
	<li>Lessons learned from operational engagements </li>
	<li>Insights gained from the transition process</li>
</ul>

<p>
<br/>
Cyber security practitioners from industry, as well as the research community, are encouraged to submit case studies. Accepted case studies will be made available on this website.
</p>

<h4>Posters</h4>
<p>
Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual representations relevant to the VizSec community. The poster program will be a great opportunity for the authors to interact with the attendees and solicit feedback. Accepted poster abstracts will be made available on this website.
</p>

<h4>Tests and Evaluation</h4>
<p>
When applicable, submissions including tests and evaluations of the proposed tools and techniques are considered particularly desirable. If possible, making the data used for the tests available will also be considered positively. If you do not have real-world data to demonstrate your visualization, you may be interested in looking at the VAST Challenge data sets.
</p>

<h3>Submissions</h3>
Submissions must be formatted using the IEEE VGTC template that can be found at <a href="http://junctionpublishing.org/vgtc/Tasks/camera.html">http://junctionpublishing.org/vgtc/Tasks/camera.html</a>. All submissions should be in PDF format.
</p>
<p>
Submit papers and poster abstracts using EasyChair: <a href="http://www.easychair.org/conferences/?conf=vizsec2016">http://www.easychair.org/conferences/?conf=vizsec2016</a>
</p>

<h4>Papers</h4>
<p>
Papers should be at most 8 pages including the bibliography and appendices. Papers will be peer-reviewed by at least 3 members of the program committee. Committee members are not required to read the appendices or any pages past the maximum. Submissions not meeting these guidelines will be rejected without consideration of their merit.
</p>
<p>
Reviews are single-blind, so authors may include names and affiliations in their submissions. Submitted papers must not substantially overlap papers that have been published or that are simultaneously submitted to a journal or a conference with proceedings.
</p>
<p>
The VizSec proceedings will be published by IEEE. Authors of accepted papers must guarantee that their papers will be presented at the conference.
</p>

<h4>Case Studies</h4>
<p>
Case studies should be at most 4 pages including the bibliography and appendices. Case study submissions will be reviewed by the Paper Chair(s) and other members of the organizing committee to determine relevance to the VizSec community.
</p>
<p>
Accepted case study authors will have time to present their work at VizSec during the program.
</p>
<p>
Accepted case studies will be made available on this website.
</p>

<h4>Posters</h4>
<p>
Extended abstract should be at most 2 pages including the bibliography. Poster abstracts will be reviewed by the Poster Chair(s) and other members of the organizing committee to determine relevance to the VizSec community.
</p>
<p>
Accepted authors must present a corresponding poster during the workshop. The poster authors can determine the layout by themselves, but the dimensions of the posters should not exceed the A0 space (841mm x 1189mm or 33.1" x 46.8"). Additionally, poster authors are requested to give a brief oral preview during a plenary "fast forward" session.
</p>
<p>
Accepted poster abstracts will be made available on this website.
</p>

<h3>Important Dates</h3>
All deadlines are 5:00 PM PST.

<h4>Papers and Case Studies</h4>
<table class="vizsec-cfp-dates">
	<tr><td><strong>August 1, 2016</strong></td><td>Submission for Papers and Case Studies</td></tr>
	<tr><td><strong>September 5, 2016</strong></td><td>Author Notification for Papers and Case Studies</td></tr>
	<tr><td><strong>October 3, 2016</strong></td><td>Camera Ready Submission and Copyright Forms for Papers</td></tr>
</table>

<h4>Posters</h4>
<table class="vizsec-cfp-dates">
	<tr><td><strong>September 19, 2016</strong></td><td>Abstract Submission for Posters
	<tr><td><strong>September 30, 2016</strong></td><td>Author Notification for Posters</td></tr>
</table>


<a id="committee" class="page-anchor"></a>
<h3>Committees</h3>

<h4>Organizing Committee</h4>
<ul>
{% for member in site.data.organizing_committee %}
	<li>
		<span class="committee name">
			{% if member.url %}
				<a href="{{ member.url }}">{{ member.name }}</a>,
			{% else %}
				{{ member.name }},
			{% endif %}
		</span>
		<span class="committee role">{{ member.role }}</span><br>
		<span class="committee affiliation">{{ member.affiliation }}</span>
	</li>
{% endfor %}
</ul>

<h4>Program Committee</h4>
<ul>
{% for member in site.data.program_committee %}
	<li>
		<span class="committee name">
			{{ member.name }}
		</span>
		<span class="committee affiliation">{{ member.affiliation }}</span>
	</li>
{% endfor %}
</ul>
