body {
  padding-top: 45px;
  padding-bottom: 25px;
  background-color: #fff;
}

.hero-unit {
  padding: 40px;
}

section {
  margin-top: 25px;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}

footer p {
  text-align: center;
  font-size: 70%;
  color: #888;
  margin-bottom: 0px;
}

.navbar-fixed-top .brand {
  padding-right: 20px;
  font-weight: bold;
  color: #fff;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.page-header > h2 {
  margin-bottom: -16px;
}

.dl-horizontal dt {
  width: 160px;
}
.dl-horizontal dd {
  margin-left: 170px;
}

@media (max-width: 480px) {
  body > .container {
    padding-left: -10px;
    padding-right: -10px;
  }
  .hero-unit {
    padding: 15px;
  }
  .hero-unit > h1 {
    font-size: 40px;
  }
  section {
    margin-top: 15px;
  }
  .dl-horizontal dt {
    width: 120px;
  }
  .dl-horizontal dd {
    margin-left: 130px;
  }
}

@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
  .hero-unit {
    padding: 25px;
  }
  .hero-unit > h1 {
    font-size: 48px;
  }
  .page-header > h2 {
    border-bottom-color: #aaa;
  }
}
