footer
  p last modified on: #{modifyDate}
  p site designed and maintained by <a href='http://jgoodall.me/'>jgoodall</a> / built with <a href='http://twitter.github.com/bootstrap/'>bootstrap</a>
  p content licensed under <a href='https://creativecommons.org/licenses/by/3.0/'>CC BY 3.0</a>
      
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script
  window.jQuery || document.write(unescape('%3Cscript src="#{rootUrl}/js/libs/jquery-1.11.0.min.js"%3E%3C/script%3E'))

script(src="#{rootUrl}/js/bootstrap.min.js")

script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33862670-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
