- var modifyDate = 'May 2, 2012'

include ../includes/head
body
  include ../includes/nav
  .container
    header.hero-unit
      h1 VizSec 2008
        small.hidden-phone  Symposium on Visualization for Cyber Security
      h1.visible-phone
        small Symposium on Visualization for Cyber Security
      p September 15, 2008 <br class='visible-phone' /><span class='hidden-phone'>&nbsp; / &nbsp;</span> Cambridge, MA USA
      p In conjunction with <a href='http://www.ll.mit.edu/RAID2008/'>RAID</a>
  
    section#welcome
      .page-header
        h2 Welcome to VizSec 2008
      p The 5th International Workshop on Visualization for Cyber Security was held in Cambridge, MA USA on September 15, 2008. VizSec brought together researchers and practitioners in information visualization and security to address the specific needs of the cyber security community through new and insightful visualization techniques. The keynote speaker was <a href='http://www.cs.umd.edu/~ben/'>Ben Shneiderman</a>.
      p VizSec was held in conjunction with the <a href='http://www.ll.mit.edu/RAID2008/'>11th International Symposium on Recent Advances in Intrusion Detection (RAID)</a>.
      p The proceedings are in <a href="http://www.springeronline.com/978-3-540-85931-4">Springer Online</a> and <a href="http://www.springerlink.com/content/978-3-540-85931-4/">Springer Link</a>.

    section#program
      .page-header
        h2 Program
        
      h3 Papers
      dl.paper-list
        dt Gregory Conti, Erik Dean, Matthew Sinda and Benjamin Sangster
        dd "Visual Reverse Engineering of Binary and Data Files" <a href='../files/2008/C onti.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_1'>paper link</a>

        dt Alexander Heitzmann, Bernardo Palazzi, Charalampos Papamanthou and Roberto Tamassia
        dd "Effective Visualization of File System Access-Control" <a href='../files/2008/Heitzmann.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_2'>paper link</a>
                
        dt Ying Xia, Kevin Fairbanks and Henry Owen
        dd "Visual Analysis of Program Flow Data with Data Propagation" <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_3'>paper link</a>
                
        dt Moses Schwartz and L. M. Liebrock
        dd "A Term Distribution Visualization Approach to Digital Forensic String Search" <a href='../files/2008/Schwartz.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_4'>paper link</a>
                
        dt Leevar Williams, Richard Lippmann and Kyle Ingols
        dd "GARNET: A Graphical Attack Graph and Reachability Network Evaluation Tool" <a href='../files/2008/Lippmann.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_5'>paper link</a>
                
        dt Scott O’Hare, Steven Noel and Kenneth Prole
        dd "A Graph-Theoretic Visualization Approach to Network Risk Analysis" <a href='../files/2008/OHare.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_6'>paper link</a>
                
        dt John Homer, Ashok Varikuti, Xinming Ou and Miles A. McQueen
        dd "Improving Attack Graph Visualization through Data Reduction and Attack Grouping" <a href='../files/2008/Homer.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_7'>paper link</a>
                
        dt T. J. Jankun-Kelly, Josh Franck, David Wilson, Jeffery Carver, David Dampier and J. Edward Swan
        dd "Show Me How You See: Lessons from Studying Computer Forensics Experts for Visualization" <a href='../files/2008/Jankun-Kelly.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_8'>paper link</a>
                
        dt Xiaoyuan Suo, Ying Zhu and Scott Owen
        dd "A Task Centered Framework for Computer Security Data Visualization" <a href='../files/2008/Suo.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_9'>paper link</a>
                
        dt James Shearer, Kwan-Liu Ma and Toby Kohlenberg
        dd "BGPeep: An IP-Space Centered View for Internet Routing Data" <a href='../files/2008/Shearer.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_10'>paper link</a>
                
        dt Fabian Fischer, Florian Mansmann, Daniel A. Keim, Stephan Pietzko and Marcel Waldvogel
        dd "Large-Scale Network Monitoring for Visual Analysis of Attacks" <a href='../files/2008/Fischer.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_11'>paper link</a>
                
        dt Ryan Blue, Cody Dunne, Adam Fuchs, Kyle King and Aaron Schulman
        dd "Visualizing Real-Time Network Resource Usage" <a href='../files/2008/Blue.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_12'>paper link</a>
                
        dt Kenneth Prole, John R. Goodall, Anita D. D’Amico and Jason K. Kopylec
        dd "Wireless Cyber Assets Discovery Visualization" <a href='../files/2008/Prole.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_13'>paper link</a>
                
        dt Pavel Minarik and Tomas Dymacek
        dd "NetFlow Data Visualization Based on Graphs" <a href='../files/2008/Minarik.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_14'>paper link</a>
                
        dt Sergey Bratus, Axel Hansen, Fabio Pellacini and Anna Shubina
        dd "Backhoe, a Packet Trace and Log Browser" <a href='../files/2008/Bratus.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_15'>paper link</a>
                
        dt Jeff Janies
        dd "Existence Plots: A Low-Resolution Time Series for Port Behavior Analysis" <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_16'>paper link</a>
                
        dt Shahrulniza Musa and David J. Parish
        dd "Using Time Series 3D AlertGraph and False Alert Classification to Analyse Snort Alerts" <a href='../files/2008/Musa.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_17'>paper link</a>
                
        dt Grant Vandenberghe
        dd "Network Traffic Exploration Application: A Tool to Assess, Visualize, and Analyze Network Security Events" <a href='../files/2008/Vandenberghe.pdf'>slides</a> | <a href='http://dx.doi.org/10.1007/978-3-540-85933-8_18'>paper link</a>

      h3 Posters
      dl.paper-list
        dt Scott Evans, Richard Bejtlich, Stephen Markham, Jeremy Impson and Eric Steinbrecher
        dd Towards Zero-Day Attack Detection through Intelligent Icon Visualization of MDL Model Proximity
        dt Glenn Fink, Jereme Haack, Wendy Maiden and Errin Fulp
        dd Cooperative Infrastructure Defense

      h3 Demos
      dl.paper-list 
        dt Dean Pierce
        dd Seeds of Contempt
        dt Raffael Marty and Jan Monsch
        dd Davix
        dt Kenneth Prole
        dd MeerCAT
        dt Alexander Heitzmann and Bernardo Palazzi
        dd TrACE: A Tool for Effective Visualization of File System Access-Control
      
      h3 Keynote Speaker
      h4 Ben Shneiderman, University of Maryland at College Park
      p <strong>Information Forensics: Harnessing visualization to support discovery</strong>
      p <a href="http://www.cs.umd.edu/~ben/">Ben Shneiderman</a> is a Professor in the Department of Computer Science, Founding Director (1983-2000) of the Human-Computer Interaction Laboratory, and Member of the Institute for Advanced Computer Studies at the University of Maryland at College Park. He was made a Fellow of the ACM in 1997, elected a Fellow of the American Association for the Advancement of Science in 2001, and received the ACM CHI (Computer Human Interaction) Lifetime Achievement Award in 2001.
      p Since 1991 his major focus has been information visualization, beginning with his <a href="http://www.cs.umd.edu/hcil/spotfire/">dynamic queries and starfield display</a> research that led to the development of Spotfire. Dr. Shneiderman developed the <a href="http://www.cs.umd.edu/hcil/treemap-history/">treemap concept</a> in 1991 which continues to inspire research and commercial implementations. Two current projects focus on network visualization: <a href="http://www.cs.umd.edu/hcil/nvss/">Network Visualization by Semantic Substrates</a> and <a href="http://www.cs.umd.edu/hcil/socialaction/">SocialAction</a>.

    section#cfp
      .page-header
        h2 Call for Papers
      p The 5th International Workshop on Visualization for Cyber Security will provide a forum for new research in visualization for computer security. We are pleased to be holding this year's meeting in conjunction with <a href="http://www.ll.mit.edu/IST/RAID2008/">the 11th International Symposium on Recent Advances in Intrusion Detection</a>. The VizSec Workshop will be held at MIT in Cambridge, Massachusetts USA on Monday, September 15, 2008. The Keynote this year will be given by <strong>Ben Shneiderman</strong> on the topic <em>Information Forensics: Harnessing visualization to support discovery</em>.
      p As a result of previous VizSec workshops, we have seen both the application of existing visualization techniques to security problems and the development of novel security visualization approaches. However, VizSec research has focused on helping <em>human analysts</em> to detect anomalies and patterns, particularly in computer network defense. Other communities, led by researchers from the <a href="http://www.raid-symposium.org/">RAID Symposia</a>, have researched <em>automated methods</em> for detecting anomalies and malicious activity.
      p The theme for this year's workshop, which will be held in conjunction with <a href="http://www.ll.mit.edu/IST/RAID2008/">RAID 2008</a>, will be on <strong>bridging the gap between visualization and automation</strong>, such as leveraging the power of visualization to create rules for intrusion detection and defense systems. We encourage VizSec participants to stay for the RAID Symposium and RAID participants to come a day early to participate in VizSec. There will be a discount for joint registration.

      h3 Technical Papers
      p We also solicit papers that report results on visualization techniques and systems in solving all aspects of cyber security problems, including:
      ul
        li Visualization of Internet routing
        li Visualization of packet traces and network flows
        li Visualization of intrusion detection alerts
        li Visualization of attack tracks
        li Visualization of security vulnerabilities
        li Visualization of attack paths
        li Visualization of application processes
        li Visualization for forensic analysis
        li Visualization for correlating events
        li Visualization for computer network defense training
        li Visualization for offensive information operations
        li Visualization for building rules
        li Visualization for feature selection
        li Visualization for cryptology
        li Visualization for detecting anomalous activity
        li Deployment and field testing of VizSec systems
        li Evaluation and user testing of VizSec systems
        li User and design requirements for VizSec systems
        li Lessons learned from development and deployment of VizSec systems
      p All submitted papers will be peer-reviewed. Full and short papers will be published by <a href="http://www.springer.com/lncs">Springer Lecture Notes in Computer Science (LNCS)</a> in the VizSec 2008 Proceedings. Poster and Demo abstracts will be made available on the VizSec web site.
      
    section#com
      .page-header
        h2 Committee
      dl
        dt General Chair
        dd John Goodall, Secure Decisions division of Applied Visions Inc.
        dt Program Co-Chairs
        dd Gregory Conti, United States Military Academy
        dd Kwan-Liu Ma, University of California at Davis
        dt Local Chair
        dd Robert K. Cunningham, Lincoln Laboratory

      h4 Program Committee
      ul
        li Stefan Axelsson, Blekinge Institute of Technology
        li Richard Bejtlich, General Electric
        li Kris Cook, Pacific Northwest National Laboratory
        li David Ebert, Purdue University
        li Robert Erbacher, Utah State University
        li Deborah Frincke, Pacific Northwest National Laboratory
        li Carrie Gates, CA Labs
        li John Gerth, Stanford University
        li Barry Irwin, Rhodes University
        li Daniel Keim, University of Konstanz
        li Toby Kohlenberg, Intel
        li Stuart Kurkowski, Air Force Institute of Technology
        li Kiran Lakkaraju, University of Illinois at Urbana-Champaign
        li Raffael Marty, Splunk
        li Douglas Maughan, Department of Homeland Security
        li John McHugh, Dalhousie University
        li Penny Rheingans, UMBC
        li Lawrence Rosenblum, National Science Foundation
        li George Tadda, Air Force Research Lab
        li Daniel Tesone, Applied Visions
        li Alfonso Valdes, SRI International
        li Kirsten Whitley, Department of Defense

    section#sponsor
      .page-header
        h2 Sponsors
      h3 National Information Assurance Research Laboratory
      h3 Microsoft
      h3 CA Labs
      h3 Secure Decisions

    include ../includes/foot