---
layout: default
custom_css: cfp_sidebar
---

<h2 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>VizSec 2022</h2>

<h3>Welcome to 19th IEEE Symposium on Visualization for Cyber Security</h3>

<p>VizSec 2022 will be held in conjunction with the hybrid <a href="http://ieeevis.org/">IEEE
    VIS Conference</a> on October 19, 2022 in Oklahoma City, USA and online. VizSec brings together
    researchers and practitioners in information
    visualization and security to address
    the specific needs of the cyber security community through new and insightful visualization techniques.</p>
<p>To register for VizSec, see the <a
        href="http://ieeevis.org/year/2022/info/registration/conference-registration">IEEE VIS registration page</a>.
</p>


<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding
    VizSec 2022.</p>

<a class="page-anchor" id="program"></a>
<h3>Program</h3>
<p>All times are Central Time (USA CDT, UTC-5)</p>

<div id="session1" class="col-md-12">
    <div class="row"><strong><h4> <div class="session-time">09:00 - 10:15</div>
        <div class="session-title">Session 1: Opening and Keynote
            <br/> <small>moderated by Chris Bryan</small><br/></div></h4></strong></div>

    <div class="row slot">
        <div class="session-time">09:00 - 09:15</div>
        <div class="session-title"><strong>Opening Presentation </strong><em class="text-muted"> by Chris Bryan</em></div>
    </div>

    <div class="row slot">
        <div class="session-time">09:15 - 10:15</div>
        <div class="session-title"><strong>Keynote: </br> Beyond Vis(Sec): Emerging Trends in Data Science for Cybersecurity</strong> by <strong>Jordan Crouser</strong>,
            <em class="text-muted">Smith College</em>. </br>Please see <a href="#keynote">below</a> for bio.
        </div>

    </div>

    <div class="text-muted row slot">
        <div class="session-time">10:15 - 10:45</div>
        <div class="session-title"><strong>Break</strong></div>
    </div>
</div>

<div id="session2" class="col-md-12">
    <div class="row"><h4> <div class="session-time">10:45 - 12:00</div>
        <div class="session-title">Session 2: Best Paper Award and Paper Presentations
            <br/> <small>moderated by Steven Gomez</small><br/></div></h4></div>

    <div class="row slot">
        <div class="session-time">10:45 - 10:50</div>
        <div class="session-title"><strong>Session Intro and Best Paper Award</strong><em class="text-muted"> by Steven Gomez</em></div>
    </div>

    <div class="row slot">
        <div class="session-time">10:50- 11:05</div>
        <div class="session-title">Analysis of the Design Space for Cybersecurity Visualizations in VizSec
            </br><em class="text-muted">by Adrian Komadina, Željka Mihajlović, Stjepan Groš</em>
        </div>
    </div>

    <div class="row slot">
        <div class="session-time">11:05- 11:20</div>
        <div class="session-title">Visualization Of Class Activation Maps To Explain AI Classification Of Network Packet Captures
            </br><em class="text-muted">by Igor Cherepanov, Alex Ulmer, Jonathan Geraldi Joewono, Jörn Kohlhammer</em>
        </div>
    </div>

    <div class="row slot">
        <div class="session-time">11:20- 11:30</div>
        <div class="session-title">Portola: A Hybrid Tree and Network Visualization Technique for Network Segmentation
            </br><em class="text-muted">by Kuhu Gupta, Aditeya Pandey, Larry Chan, Ambika Yadav, Brian Staats, Michelle A. Borkin</em>
        </div>
    </div>

    <div class="row slot">
        <div class="session-time">11:30- 11:45</div>
        <div class="session-title">PRIVEE: A Visual Analytic Workflow for Proactive Privacy Risk Inspection of Open Data
            </br><em class="text-muted">by Kaustav Bhattacharjee, Akm Zahirul Islam, Jaideep Vaidya, Aritra Dasgupta</em>
        </div>
    </div>

    <div class="row slot">
        <div class="session-time">11:45- 12:00</div>
        <div class="session-title">Visual Firewall Log Analysis - At the Border Between Analytical and Appealing
            </br><em class="text-muted">by Marija Schufrin, Hendrik Lücke-Tieke, Jörn Kohlhammer</em>
        </div>
    </div>

    <div class="text-muted row slot">
        <div class="session-time">12:00 - 14:00</div>
        <div class="session-title"><strong>Lunch Break</strong></div>
    </div>
</div>

<div id="session3" class="col-md-12">
    <div class="row"><h4> <div class="session-time">14:00 - 15:15</div>
        <div class="session-title">Session 3: Discussion Panel and Closing
            <br/> <small>moderated by Steven Gomez</small><br/></div></h4></div>

    <div class="row slot">
        <div class="session-time">14:00 - 15:00</div>
        <div class="session-title">Virtual Panel: “Translating Real Needs for Cyber Operators into Impactful R&D"
            </br><em class="text-muted">with Sanchari Das, Kami Vaniea, Prashanth Rajivan, Josiah Dykstra, Philipp Markert, Glenn Fink and Vince Mancuso</em>
        </div>
    </div>

    <div class="row slot">
        <div class="session-time">15:00 - 15:05</div>
        <div class="session-title">Best Poster Award
            </br><em class="text-muted">by Steven Gomez</em>
        </div>
    </div>

    <div class="row slot">
        <div class="session-time">15:05 - 15:15</div>
        <div class="session-title">Closing
            </br><em class="text-muted">by Chris Bryan</em>
        </div>
    </div>
</div>

<div id="keynote" class="page-anchor">
    <h3 >Keynote</h3>
    <h4>Beyond Vis(Sec): Emerging Trends in Data Science for Cybersecurity</h4>
    <h4 class="media-heading">Jordan Crouser<br/><small>Smith College</small></h4>

<!--    <img class="pull-right img-thumbnail" src="/assets/img/john-large.jpg" alt="John Goodall"-->
<!--         style="margin-left: 6px; margin-bottom: 2px; height: 350px">-->

    <h5>Biography</h5>

    <p style="text-align: justify">R. Jordan Crouser is a visual analytics researcher, semi-professional data wrangler, and Associate Professor of Computer Science at Smith College.
        He enjoys teaching introductory programming, theory of computation, data visualization, and machine learning.
        His research program investigates the complementary nature of human and machine computation as used in visual analytics and other human-machine collaborative systems.
        These systems make use of the human visual system, as well as our capacity to understand and reason about complex data.
        He chairs the VAST Challenge, and has published his technical contributions in the areas of visualization theory, human-computer interaction, educational technology, visual analytics systems and human computation.
        Prior to returning to academia, Crouser spent two years doing research and building analytical tools at MIT Lincoln Laboratory.
    </p>
</div>

<a class="page-anchor" id="cfp"></a>
<h3>VizSec 2022 Call for Papers</h3>
<p>
    We are cordially inviting you to participate in the 19th IEEE Symposium on Visualization for Cyber Security (VizSec) 2022.
    VizSec brings together researchers and practitioners from academia, government, and industry to address the needs of the cybersecurity community
    through new and insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange and
    new collaborations on a broad range of security- and privacy-related topics.
</p>
<p>
    VizSec will take place on Wednesday, October 19, 2022, in conjunction with the 2022 IEEE VIS conference,
    giving VizSec authors and attendees enhanced access to IEEE VIS. The VizSec program will be presented in a <b>hybrid</b> format with virtual presentations.
</p>
<p>
    The purpose of VizSec is to explore effective and scalable visual interfaces for security domains such as network security,
    computer forensics, reverse engineering, insider threat detection, cryptography, privacy, user-assisted attacks prevention,
    compliance management, wireless security, secure coding, penetration testing, and other related research topics.
</p>
<p>
    We are soliciting Technical (Full), Short, and Position Papers.
</p>

<h4>Technical Papers</h4>
<p>
    Full papers describing novel contributions in security visualization are solicited.
    Papers may present techniques, applications, theory, analysis, experiments, or evaluations.
    We encourage the submission of papers on technologies and methods that promise to improve cyber security practices, including, but not limited to:
</p>
<ul>
    <li>Situation awareness and/or understanding</li>
    <li>Incident handling including triage, exploration, correlation, and response</li>
    <li>Computer forensics</li>
    <li>Machine learning & explainable AI for cybersecurity</li>
    <li>Adversarial machine learning visualization</li>
    <li>Adversarial visualization</li>
    <li>Visual analytics for cybersecurity</li>
    <li>Data protection & privacy</li>
    <li>Blockchain performance & security</li>
    <li>Cybersecurity in critical infrastructure</li>
    <li>Collaborative visualization for cybersecurity & provenance</li>
    <li>Decision support for security configuration and deployment</li>
    <li>Reverse engineering and malware analysis</li>
    <li>Vulnerability management</li>
    <li>Multiple data source analysis</li>
    <li>Analyzing information requirements for computer network defense</li>
    <li>Evaluation and/or user testing of systems</li>
    <li>Criteria for assessing the effectiveness of cyber security visualizations, for security goals or human factors</li>
    <li>System modeling and network analysis</li>
    <li>Usable Security and Privacy</li>
    <li>Software security</li>
    <li>Mobile application security</li>
    <li>Social networking privacy and security</li>
    <li>Training & education</li>
    <li>Visualization for privacy engineering</li>
</ul>
</br>
<p>Submissions including tests and evaluations of the proposed tools and techniques are also considered particularly desirable.
    If possible, making test data available will also be considered positively.
    If you do not have real-world data to demonstrate your visualization, you may be interested in looking at the <a href="https://vizsec.org/data/">VizSec dataset links</a>.
    Please see <a href="https://vizsec.org/past/">past years</a> proceedings and websites to see the quality and examples of previous submissions.
    Previous VizSec papers may also be found on the <a href="https://vizsec.dbvis.de/">VizSec Papers Browser</a> and on IEEE Xplore.
</p>
<h4>Short Papers</h4>
<p>
    Short papers describing initial research results, concise research contributions, or incremental work on the above topics,
    even including practical applications of security visualization, are solicited.
    We encourage the submission of papers discussing the introduction of cyber security visualizations into operational context,
    including, but not limited to:
</p>
<ul>
    <li>Cases where visualization made positive contributions towards meeting operational needs</li>
    <li>Gaps or negative outcomes from visualization deployments</li>
    <li>Situations where visualization was not utilized, but could have had a positive impact</li>
    <li>Lessons learned from operational engagements</li>
    <li>Insights gained from the transition process</li>
</ul>
</br>
<p>
    Cyber security practitioners from industry, as well as the research community, are encouraged to submit case studies.
</p>

<h4>Position Papers</h4>
<p>
    Position papers focus on topics needing or calling for discussion or reconsideration of forgotten topics relevant for the VizSec community.
    They should report a clear position on the target topic and should also suggest a proposal or actions regarding the target topic.
    They should stimulate imaginative and hypothesis-driven research. In particular, we encourage submissions both from researchers inside
    the visualization community and outside, such as researchers and practitioners from pure cybersecurity domains who currently do not broadly employ visualization in their work.
</p>

<h4>Posters</h4>
<p>
    Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual representations relevant to the VizSec community.
    The poster session offers a timely venue to present and discuss these submissions through active engagement with the community.
    In line with the full VIS 2022 conference, the presentation of posters is likely to take place in a physical event.
    There will be 1-2 dedicated poster sessions in which poster authors can meet and discuss their work with conference participants.
    An additional web presence of posters will supplement the traditional physical installation of poster boards.
    More concrete details will follow soon, with the goal of creating an engaging atmosphere consistent with past in-person poster sessions.
</p>

<h4>Awards</h4>
<p>
    There will be an award for the best full paper from the accepted program.
    This award will be given to the paper judged to have the highest overall quality as determined by the program committee.
    Key elements of the selection process include whether papers include evaluation, repeatable results, and open-source data or software.
    Authors of the best paper will be invited to submit an article about their work to the IEEE Transactions on Visualization and Computer Graphics journal.
</p>
<p>
    There will also be an award for Best Poster. This award will recognize authors’ efforts to clearly present their work to the audience.
    The award will be determined by anonymous judges and given to recipients at the end of the conference
</p>
<h4>Submissions</h4>
<p>The VizSec 2022 Proceedings will be published by IEEE.
    Submissions must be formatted using the IEEE VGTC conference proceedings template that can be found at:
    <a href="https://tc.computer.org/vgtc/publications/conference/">https://tc.computer.org/vgtc/publications/conference/</a>
</p>
<p>
    VizSec full papers are limited to 9 pages of content plus an additional 2 pages of references.
    Papers may be shorter than this but must make a similar contribution to a longer paper.
    Reviewers are not required to read the appendices or any pages past the maximum.
    Short papers must be at most 4 pages plus 1 page of references. Position papers must be at most 4 pages total including references.
    Posters must be 2-page abstracts. Presenters are also encouraged to submit an accompanying video or other supplementary materials by following the IEEE VIS formatting guidelines.

</p>
<p>
    Submissions not meeting these guidelines will be rejected without consideration of their merit.
    Reviews are single-blind, so authors may include names and affiliations in their submissions.
    Submitted papers must not substantially overlap papers that have been published or that are simultaneously submitted to a journal or a conference with proceedings.
    Authors of accepted papers must guarantee that their papers will be presented at the conference.
</p>
<p>
    <strong>Paper submissions:</strong><br>
    Go to <a href="https://new.precisionconference.com/submissions" target="_blank">https://new.precisionconference.com/submissions</a>, then make a new submission to Society: VGTC, Conference/Journal: VIS 2022, Track: VIS 2022 VizSec
</p>
<p>
    <strong>Poster submissions:</strong><br>
    Go to <a href="https://new.precisionconference.com/submissions" target="_blank">https://new.precisionconference.com/submissions</a>, then make a new submission to Society: VGTC, Conference/Journal: VIS 2022 >> Track: VIS 2022 VizSec Posters.
    Authors of accepted posters will be asked to submit an electronic poster following the IEEE VIS instructions for the posters.
</p>

<a class="page-anchor" id="submissions"></a>
<div>
    <h3>Important Dates</h3>
    <p>All deadlines are 5:00 PM PST.</p>
    <p><strong>Paper deadlines:
    <!--    </strong> <span class="underline" style="font-weight: bold">Extended!</span></p>-->
    </strong> <span style="font-weight: bold; text-decoration: line-through">Extended!</span></p>
    <p>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">June 22, 2022</span></strong>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">July 01, 2022</span></strong>
        <b>Expired!</b> Submission deadline for full, short, and position papers
    </p>
    <p>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">July 18, 2022</span></strong>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">July 20, 2022</span></strong>
        Author notifications
    </p>
    <p>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Aug 08, 2022</span></strong>
        <strong><span style="display: inline-block; width: 120px;"></span></strong>
        Camera ready submissions and copyright forms due
    </p>
    <p>
        <strong>Poster deadlines:</strong>
    </p>
    <p>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">July 28, 2022</span></strong>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Aug 02, 2022</span></strong>
        <b>Expired!</b> Submission deadline for posters
    </p>
    <p>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Aug 08, 2022</span></strong>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Aug 14, 2022</span></strong>
        Poster Author notifications
    </p>
    <p>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Sep 01, 2022</span></strong>
        <strong><span style="display: inline-block; width: 120px;"></span></strong>
        Video Preview (optional)
    </p>
    <p>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Sep 01, 2022</span></strong>
        <strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Sep 05, 2022</span></strong>
        Camera-ready abstract and poster PDF
    </p>

    <p>VizSec will be held on <strong>October 19, 2022</strong>.</p>
</div>


<h3>Committees</h3>

<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.y2022-organizing_committee %}
    <li>
    <span class="committee name">
      {% if member.url %}
        <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>,
      {% else %}
        {{ member.name }},
      {% endif %}
    </span>
        <span class="committee role">{{ member.role }}</span><br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<h4>Program Committee</h4>

<ul>
    {% for member in site.data.y2022-program_committee %}
    <li>
    <span class="committee name">
      {{ member.name }}
    </span>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>

<h4>Steering Committee</h4>

<ul>
    {% for member in site.data.y2022-steering_committee %}
    <li>
    <span class="committee name">
        {% if member.url %}
            <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
            {% else %}
                {{ member.name }}
        {% endif %}
    </span>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<a class="page-anchor" id="supporters"></a>
<div>
    <h3>Supporters</h3>

    <ul class="media-list">
        {% for supporter in site.data.y2022-supporters %}
        <li class="media">
            <a href="{{ supporter.link }}" target=”_blank”>
                <img class="media-object" src="{{ supporter.image }}" title="{{ supporter.title }}">
            </a>
            {% if supporter.job %}
            <label>Open Position: <a href="{{ supporter.job_url }}" target=”_blank”>{{ supporter.job }}</a></label>
            {% endif %}

            {% if supporter.job2 %}
            <label>Open Position: <a href="{{ supporter.job2_url }}" target=”_blank”>{{ supporter.job2 }}</a></label>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>



