---
layout: default
custom_css: cfp_sidebar
---

<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>VizSec 2019</h2>

<h3>Welcome to 16th IEEE Symposium on Visualization for Cyber Security</h3>

<p>VizSec 2019 will be held in <strong>Vancouver, Canada</strong> in conjunction with <a href="http://ieeevis.org/">IEEE
    VIS</a>. VizSec brings together researchers and practitioners in information visualization and security to address
    the specific needs of the cyber security community through new and insightful visualization techniques.</p>

<!--
<p><em>Interested in attending?</em> Please <a href="http://ieeevis.org/year/2019/info/registration/conference-registration">register for IEEE VIS</a> (our host) and indicate you plan to attend VizSec 2018 when prompted. There are 1-day, 2-day, and full-week registration options. The conference hotel is the <a href="http://ieeevis.org/year/2018/info/registration/hotel-information">Hyatt Regency Phoenix</a>, and the conference itself will be held in the Phoenix Convention Center. Please see <a href="http://ieeevis.org/">ieeevis.org</a> for more details.</p>

<p>The <a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=8052583">VizSec 2018 Proceedings</a> are available in the <a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=8052583">IEEE Digital Library</a>. Recordings of the presentations can be found on the <a href="https://vimeopro.com/vgtcommunity/vizsec2017">VizSec 2017 Vimeo group</a>.</p>
//-->

<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding
    VizSec 2019.</p>


<a class="page-anchor" id="cfp"></a>
<h3>Call for Papers</h3>

<p>
    The 16th IEEE Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together
    researchers and practitioners from academia, government, and industry to address the needs of the cyber
    security community through new and insightful visualization and analysis techniques. VizSec provides an
    excellent venue for fostering greater exchange and new collaborations on a broad range of security- and
    privacy-related topics. VizSec will be held in <strong>Vancouver, Canada</strong> in conjunction with <a
        href="http://ieeevis.org/">IEEE VIS</a>, on <strong>Wednesday, October 23rd 2019</strong>.
</p>
<p>
    This year, VizSec will be more closely integrated with the IEEE VIS program. VizSec will take place
    during the main week of the conference, giving VizSec authors and attendees enhanced access to IEEE VIS,
    the premier forum for advances in theory, methods, and applications of visualization and visual
    analytics.
</p>
<p>
    The purpose of VizSec is to explore effective and scalable visual interfaces for security domains such
    as network security, computer forensics, reverse engineering, insider threat detection, cryptography,
    privacy, user assisted attacks prevention, compliance management, wireless security, secure coding, and
    penetration testing.
</p>

<h4>Technical Papers</h4>
<p>
    Full papers describing novel contributions in security visualization are solicited. Papers may present techniques,
    applications, theory, analysis, experiments, or evaluations. We encourage the submission of papers on technologies
    and methods that promise to improve cyber security practices, including, but not limited to::
</p>

<ul>
    <li> Situation awareness and/or understanding</li>
    <li> Incident handling including triage, exploration, correlation, and response</li>
    <li> Computer forensics</li>
    <li> Machine learning and explainable AI for cybersecurity</li>
    <li> Visual analytics for cybersecurity</li>
    <li> Data protection & privacy</li>
    <li> Blockchain performance & security</li>
    <li> Cybersecurity in critical infrastructure</li>
    <li> Recording and reporting results of investigations</li>
    <li> Assisting proactive security configuration and deployment</li>
    <li> Reverse engineering and malware analysis</li>
    <li> Vulnerability management</li>
    <li> Multiple data source analysis</li>
    <li> Analyzing information requirements for computer network defense</li>
    <li> Evaluation and/or user testing of VizSec systems</li>
    <li> Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal
        perspective or a human factors perspective)
    </li>
    <li> Modeling system and network behavior</li>
    <li> Modeling attacker and defender behavior</li>
    <li> Studying risk and impact of cyber attacks</li>
    <li> Predicting future attacks or targets</li>
    <li> Security metrics</li>
    <li> Software security</li>
    <li> Mobile application security</li>
    <li> Social networking privacy and security</li>
    <li> Training & education</li>
</ul>

<br/>
<p>
    When applicable, visualization and interaction techniques that effectively capture the insights of human analysts
    and/or allow analysts to collaborate efficiently are particularly desirable.
</p>

<p>
    Submissions including tests and evaluations of existing tools and techniques are also considered particularly
    desirable. If possible, making the data used for the tests available will also be considered positively. If you do
    not have real-world data to demonstrate your visualization, you may be interested in looking at the <a
        href="http://vacommunity.org/tiki-index.php">VAST Challenge Data Sets</a> page.
</p>

<h4>Short Papers</h4>
<p>Short papers describing initial research results, concise research contributions or incremental work on the above
    topics, even including practical applications of security visualization, are solicited. We encourage the submission
    of papers discussing the introduction of cyber security visualizations into operational context, including, but not
    limited to:
</p>

<ul>
    <li>Cases where visualization made positive contributions towards meeting operational needs</li>
    <li>Gaps or negative outcomes from visualization deployments</li>
    <li>Situations where visualization was not utilized, but could have had a positive impact</li>
    <li>Lessons learned from operational engagements</li>
    <li>Insights gained from the transition process</li>
</ul>

<p>
    <br/>
    Cyber security practitioners from industry, as well as the research community, are encouraged to submit case
    studies.
</p>

<h4>Posters</h4>
<p>
    Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual
    representations relevant to the VizSec community. The poster program will be a great opportunity for the authors to
    interact with the attendees, potentially also through live demos, and solicit feedback. Accepted poster abstracts
    will be made available on this website.
</p>

<a class="page-anchor" id="awards"></a>
<h3>Awards</h3>
<p>There will be an award for the best paper from the accepted program. This award will be given to the paper judged to
    have the highest overall quality as determined by the program committee. Key elements of the selection process
    include whether papers include evaluation, repeatable results, and open-source data or software. Authors of the best
    paper will be invited for submission to Transactions on Visualization and Computer Graphics. Both full and short
    papers are eligible.</p>
<p>There will also be an award for <strong>Best Presentation</strong> and an award for <strong>Best Poster</strong>. Each award comes with a $50 USD
    Amazon gift card thanks to our sponsor, Two Six Labs. These awards will recognize authors’ efforts to clearly and
    concisely present their work to the audience. The awards will be determined by anonymous judges and given to
    recipients at the end of the conference.</p>


<a class="page-anchor" id="submissions"></a>
<h3>Submissions</h3>

<p>The VizSec 2019 Proceedings will be published by IEEE. Submissions must be formatted using the IEEE VGTC conference
    proceedings template that can be found at: <a href="http://junctionpublishing.org/vgtc/Track/vis.html"> http://junctionpublishing.org/vgtc/Track/vis.html.</a>
   </p>
<p>VizSec full papers are limited to 9 pages of content plus an additional 2 pages of references. Papers may be shorter
    than this but must make a similar contribution to a longer paper. Reviewers are not required to read the appendices
    or any pages past the maximum. Short papers should be at most 4 pages plus 1 page of references. Posters should be 2
    page abstracts.</p>
<p>Submissions not meeting these guidelines will be rejected without consideration of their merit. Reviews are
    single-blind, so authors may include names and affiliations in their submissions. Submitted papers must not
    substantially overlap papers that have been published or that are simultaneously submitted to a journal or a
    conference with proceedings. Authors of accepted papers must guarantee that their papers will be presented at the
    conference.</p>
<p>VizSec uses the <a href="https://new.precisionconference.com/submissions">Precision Conference System (PCS)</a> to
    handle their paper and poster submissions and reviewing processes.</p>


<h3>Important Dates</h3>

<p>All deadlines are 5:00 PM PST.</p>
<p><strong>June 15 2019</strong>    Submissions due for Full and Short Papers</p>
<p><strong>July 19 2019</strong>    Author notification for Full and Short Papers</p>
<p><strong>August 10 2019</strong>    Fast forward deadline</p>
<p><strong>August 15 2019</strong>    Camera ready submission and copyright forms</p>
<p><strong>August 3 2019</strong>    Submissions due for Poster Abstracts</p>
<p><strong>August 17 2019</strong>    Author notification for Posters</p>
<p><strong>October 23 2019</strong>    VizSec 2019</p>


<h3>Committees</h3>

<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.y2019-organizing_committee %}
    <li>
    <span class="committee name">
      {% if member.url %}
        <a href="{{ member.url }}">{{ member.name }}</a>,
      {% else %}
        {{ member.name }},
      {% endif %}
    </span>
        <span class="committee role">{{ member.role }}</span><br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<h4>Steering Committee</h4>

<p>Greg Conti, IronNet Cybersecurity</p>
<p>Deborah Frincke, National Security Agency</p>
<p>John Gerth, Stanford University</p>
<p>John Goodall, Oak Ridge National Laboratory</p>
<p>Lane Harrison, Worcester Polytechnic Institute</p>
<p>Kwan-Liu Ma, University of California at Davis</p>
<p>Kirsten Whitley, U.S. Department of Defense</p>



<!--<a class="page-anchor" id="supporters"></a>-->
<!--<h3>Supporters</h3>-->

<!--<ul class="media-list">-->
<!--{% for supporter in site.data.y2018-supporters %}-->
<!--<li class="media">-->
<!--<div class="media-left">-->
<!--<a href="{{ supporter.link }}">-->
<!--<img class="media-object center-block" src="{{ supporter.image }}">-->
<!--</a>-->
<!--</div>-->
<!--<div class="media-body">-->
<!--<h5 class="media-heading">{{ supporter.title }}</h5>-->

<!--{{ supporter.blurb }}-->
<!--<p> Open Position(s): {{ supporter.jobs }} </p>-->
<!--</div>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->

