---
layout: default
custom_css: cfp_sidebar
---

<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>VizSec 2019</h2>

<h3>Welcome to 15th IEEE Symposium on Visualization for Cyber Security</h3>

<p>VizSec 2019 will be held in <strong>Vancouver, Canada</strong> in conjunction with <a href="http://ieeevis.org/">IEEE VIS</a>. VizSec brings together researchers and practitioners in information visualization and security to address the specific needs of the cyber security community through new and insightful visualization techniques.</p>

<!--
<p><em>Interested in attending?</em> Please <a href="http://ieeevis.org/year/2019/info/registration/conference-registration">register for IEEE VIS</a> (our host) and indicate you plan to attend VizSec 2018 when prompted. There are 1-day, 2-day, and full-week registration options. The conference hotel is the <a href="http://ieeevis.org/year/2018/info/registration/hotel-information">Hyatt Regency Phoenix</a>, and the conference itself will be held in the Phoenix Convention Center. Please see <a href="http://ieeevis.org/">ieeevis.org</a> for more details.</p>

<p>The <a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=8052583">VizSec 2018 Proceedings</a> are available in the <a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=8052583">IEEE Digital Library</a>. Recordings of the presentations can be found on the <a href="https://vimeopro.com/vgtcommunity/vizsec2017">VizSec 2017 Vimeo group</a>.</p>
//-->

<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding VizSec 2019.</p>


<a class="page-anchor" id="cfp"></a>

<h3>Call for Papers</h3>

<p>
    The 16th IEEE Symposium on Visualization for Cyber Security (VizSec) brings together researchers and practitioners from academia, government, and industry to address the needs of the cyber security community through new and insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange and new collaborations on a broad range of security- and privacy-related topics. VizSec will be held in <strong>Vancouver, Canada</strong> in conjunction with <a href="http://ieeevis.org/">IEEE VIS</a>, on <strong> 2019.</strong>
</p>
<p>
    VizSec explores effective and scalable visual interfaces for security domains such as network security, computer forensics, reverse engineering, insider threat detection, cryptography, privacy, user assisted attacks prevention, compliance management, wireless security, secure coding, and penetration testing.
</p>
<p>
    VizSec solicits both full and short papers, both of which will be published in the proceedings that will be published by IEEE. Authors of accepted papers must guarantee that their papers will be presented at the conference.
</p>

<h4>Technical Papers</h4>
<p>
    Full papers describing novel contributions in security visualization are solicited. Papers may present techniques, applications, theory, analysis, experiments, or evaluations. We encourage the submission of papers on technologies and methods that improve cyber security practices, including, but not limited to:
</p>

<ul>
    <li>Situation awareness and/or understanding</li>
    <li>Incident handling including triage, exploration, correlation, and response</li>
    <li>Computer forensics</li>
    <li>Recording and reporting results of investigations</li>
    <li>Assisting proactive security configuration and deployment</li>
    <li>Reverse engineering and malware analysis</li>
    <li>Vulnerability management</li>
    <li>Multiple data source analysis</li>
    <li>Analyzing information requirements for computer network defense</li>
    <li>Evaluation and/or user testing of VizSec systems</li>
    <li>Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal perspective or a human factors perspective)</li>
    <li>Modeling system and network behavior</li>
    <li>Modeling attacker and defender behavior</li>
    <li>Studying risk and impact of cyber attacks</li>
    <li>Predicting future attacks or targets</li>
    <li>Security metrics and education</li>
    <li>Software security</li>
    <li>Mobile application security</li>
    <li>Social networking privacy and security</li>
</ul>

<br/>
<p>
    When applicable, visualization and interaction techniques that effectively capture the insights of human analysts and/or allow analysts to collaborate efficiently are particularly desirable.
</p>

<p>
    Submissions including tests and evaluations of existing tools and techniques are also considered particularly desirable. If possible, making the data used for the tests available will also be considered positively. If you do not have real-world data to demonstrate your visualization, you may be interested in looking at the <a href="/data/">VizSec Data Sets</a> page.
</p>

<h4>Short Papers</h4>
<p>
    Short papers describing practical applications of security visualization are solicited. We encourage the submission of papers discussing the introduction of cyber security visualizations into operational context, including, but not limited to:
</p>

<ul>
    <li>Cases where visualization made positive contributions towards meeting operational needs</li>
    <li>Gaps or negative outcomes from visualization deployments</li>
    <li>Situations where visualization was not utilized, but could have had a positive impact</li>
    <li>Lessons learned from operational engagements</li>
    <li>Insights gained from the transition process</li>
</ul>

<p>
    <br/>
    Cyber security practitioners from industry, as well as the research community, are encouraged to submit case studies.
</p>

<h4>Posters</h4>
<p>
    Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual representations relevant to the VizSec community. The poster program will be a great opportunity for the authors to interact with the attendees and solicit feedback. Accepted poster abstracts will be made available on the VizSec website.
</p>

<a class="page-anchor" id="awards"></a>
<h3>Awards</h3>
<p>
    There will be an award for the best paper from the accepted program. This award will be given to the paper judged to have the highest overall quality as determined by the program committee. Key elements of the selection process include whether papers include evaluation, repeatable results, and open-source data or software. Both full and short papers are eligible.
</p>
<p>
    Thanks to the generous support of <a href="https://www.twosixlabs.com/">Two Six Labs</a>, the best paper awardee will receive a $100 Amazon gift card!
</p>

<a class="page-anchor" id="submissions"></a>
<h3>Submissions</h3>

<p>
    The VizSec 2019 proceedings will be published by IEEE. Submissions must be formatted using the IEEE "Conference Style" template that can be found at:
</p>
<p>
    <a href="http://junctionpublishing.org/vgtc/Tasks/camera.html">http://junctionpublishing.org/vgtc/Tasks/camera.html</a>
</p>
</p>
<p>
    All submissions must be in PDF format.
</p>
<p>
    <a href="https://new.precisionconference.com/submissions">
        https://new.precisionconference.com/submissions</a>
</p>

<p>
    After logging in, click the submissions link on the top navigation bar.  Select Society: VGTC, Conference: VizSec 2018
</p>

<p class="text-muted small">
    <span class="label label-default">Note</span> Posters will be submitted via email instead of PCS. For more information, please see the <strong>Posters</strong> section below.
</p>

<h4>Papers</h4>
<p>
    Full Papers should be at most <strong>8 pages</strong> including the bibliography and appendices. Short papers should be at most <strong>4 pages</strong> including the bibliography and appendices.
</p>
<p>
    <em>All papers</em> will be peer-reviewed by at least 3 members of the program committee. Committee members are not required to read the appendices or any pages past the maximum. Submissions not meeting these guidelines will be rejected without consideration of their merit.
</p>
<p>
    Reviews are single-blind, so authors may include names and affiliations in their submissions. Submitted papers must not substantially overlap papers that have been published or that are simultaneously submitted to a journal or a conference with proceedings.
</p>

<h4>Posters</h4>
<p>
    To submit a poster, please email an extended abstract as a PDF attachment to <a href="mailto:posters@vizsec.org">posters@vizsec.org</a> and include the author names and affiliations in the email body.
    Extended abstract should be at most 2 pages including the bibliography. Poster abstracts will be reviewed by the Poster Chair(s) and other members of the organizing committee to determine relevance to the VizSec community.
</p>
<p>
    Accepted authors must present a corresponding poster during the workshop. The poster authors can determine the layout by themselves, but the dimensions of the posters should not exceed the A0 space (841mm x 1189mm or 33.1" x 46.8"). Additionally, poster authors are requested to give a brief oral preview during a plenary "fast forward" session.
</p>
<p>
    Accepted poster abstracts will be made available on this website.
</p>

<a class="page-anchor" id="scholarships"></a>
<h3>Diversity Scholarships</h3>

<p>Thanks to the generous donations of our sponsors, we are delighted to announce that we will be offering several <strong>VizSec 2018 Diversity Scholarship</strong> awards to help cover the costs of attending VizSec. This scholarship award covers full week registration plus a small stipend to help offset travel costs.</p>

<h4> Application Process </h4>

<p>All VizSec attendees may apply for the diversity scholarships except for those from a country on the OFAC sanctions list at:</p>

<p><a href="http://www.ieee.org/conferences_events/conferences/organizers/sanctions.html">http://www.ieee.org/conferences_events/conferences/organizers/sanctions.html</a></p>

<p>Applicants must submit a cover letter and curriculum vitae in PDF format. The cover letter should discuss your eligibility for this scholarship and how you would benefit from attending VizSec 2017. It should be no more than 2 pages (letter size) with at least 1 inch margins and 11pt or larger font.</p>

<p>Applications will also be asked to answer the following questions:</p>

<ul>
    <li>Have you ever attended VizSec or VIS before? If so, when?</li>
    <li>Are you currently a student? If so, please specify the degree and subject area you are working on, and where.</li>
    <li>Are you from an underrepresented group in computer science? If so, please specify.</li>
    <li>Please let us know your country or countries of citizenship, and the country and city you will be traveling from.</li>
</ul>
<br/>
<p>To apply for this scholarship, login or create an account at:</p>

<p><a href="https://new.precisionconference.com/vizsec18b ">https://new.precisionconference.com/vizsec18b </a></p>

<p>After logging in, click the "new submissions" link on the top navigation bar and look for the link for "Submit to VizSec 2018 Diversity Scholarship" in the list under the "VIS 2018" heading.</p>

<p>The application deadline is August 22, 2018 at 5:00pm PDT. Awardees will be notified by September 04, 2018, and must register for the conference by the early registration deadline on September 7, 2018.</p>


<h3>Committees</h3>


<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.y2019-organizing_committee %}
    <li>
    <span class="committee name">
      {% if member.url %}
        <a href="{{ member.url }}">{{ member.name }}</a>,
      {% else %}
        {{ member.name }},
      {% endif %}
    </span>
        <span class="committee role">{{ member.role }}</span><br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>

<h4>Program Committee</h4>

<ul>
    {% for member in site.data.y2018-program_committee %}
    <li>
    <span class="committee name">
      {{ member.name }}
    </span>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>

<a class="page-anchor" id="supporters"></a>
<h3>Supporters</h3>

<ul class="media-list">
    {% for supporter in site.data.y2018-supporters %}
    <li class="media">
        <div class="media-left">
            <a href="{{ supporter.link }}">
                <img class="media-object center-block" src="{{ supporter.image }}">
            </a>
        </div>
        <div class="media-body">
            <h5 class="media-heading">{{ supporter.title }}</h5>

            {{ supporter.blurb }}
            <p> Open Position(s): {{ supporter.jobs }} </p>
        </div>
    </li>
    {% endfor %}
</ul>

