---
layout: default
custom_css: cfp_sidebar
---

<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>VizSec 2018</h2>

<h3>Welcome to 15th IEEE Symposium on Visualization for Cyber Security</h3>

<p>VizSec 2018 will be held in <strong>Berlin, Germany</strong> in conjunction with <a href="http://ieeevis.org/">IEEE
    VIS</a> on <strong>Monday October 22nd</strong>. VizSec brings together researchers and practitioners in information
    visualization and security to address the specific needs of the cyber security community through new and insightful
    visualization techniques.</p>

<!--
<p><em>Interested in attending?</em> Please <a href="http://ieeevis.org/year/2018/info/registration/conference-registration">register for IEEE VIS</a> (our host) and indicate you plan to attend VizSec 2018 when prompted. There are 1-day, 2-day, and full-week registration options. The conference hotel is the <a href="http://ieeevis.org/year/2018/info/registration/hotel-information">Hyatt Regency Phoenix</a>, and the conference itself will be held in the Phoenix Convention Center. Please see <a href="http://ieeevis.org/">ieeevis.org</a> for more details.</p>


<p>The <a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=8052583">VizSec 2017 Proceedings</a> are available in the <a href="http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=8052583">IEEE Digital Library</a>. Recordings of the presentations can be found on the <a href="https://vimeopro.com/vgtcommunity/vizsec2017">VizSec 2017 Vimeo group</a>.</p>
//-->

<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding
    VizSec 2018.</p>

<!--
<div class="text-center" style="margin-top: 4ex;">
<a class="btn btn-info btn-lg" href="https://www.dropbox.com/s/wy5qr1mfe0y5sed/vizsec2017_proceedings.zip?dl=0" role="button"><i class="fas fa-download"></i> Download Proceedings<sup>*</sup></a><br/>
<small class="text-muted"><em><sup>*</sup>Link only active during symposium. Password will be provided in opening remarks.</em></small>
</div>

//-->


<a class="page-anchor" id="program"></a>
<h3>Program</h3>

<!--
<p>VizSec 2017 will be held all day on <strong>Monday October 2nd</strong> in room <strong>301-C</strong> on the 300 Level of the <a href="https://www.phoenixconventioncenter.com/floor-plans-specs">West Building</a> (between Second and Third Street on Monroe) in the <a href="https://www.phoenixconventioncenter.com/">Phoenix Convention Center</a>.</p>
//-->

<table class="program">

    <tbody>
    <tr>
        <td>9:00</td>
        <td>&ndash;</td>
        <td>9:15am</td>
        <td>
            <h4>
                Opening Remarks <a href="https://goo.gl/nF1Cme" style="border: none;"><i
                    class="fas fa-external-link"></i></a><br/>
                <small>Remarks by Diane Staheli</small>
            </h4>
        </td>
    </tr>

    <tr>
        <td>9:15</td>
        <td>&ndash;</td>
        <td>10:15am</td>
        <td>
            <h4>
                Keynote Address<br/>
                <small>Introduced by Diane Staheli</small>
            </h4>

            <p>
                <strong>Forever Failing - Why infosec is still not here</strong> by <strong>Dr. Sandro Gaycken</strong>,
                <em class="text-muted">Director of the Digital Society Institute ESMT, Berlin, Germany</em>
            </p>

            <p>Please see <a href="#keynote">below</a> for the full abstract and bio.</p>
        </td>
    </tr>

    <tr>
        <td>10:15</td>
        <td>&ndash;</td>
        <td>10:40am</td>
        <td>
            <h4>
                VizSec Poster and Demo Fast Forward<br/>
                <small>Moderated by Jörn Kohlhammer</small>
            </h4>
            <p>Please see <a href="#posters">below</a> for a list of accepted posters.</p>
        </td>
    </tr>

    <tr class="text-muted">
        <td>10:40</td>
        <td>&ndash;</td>
        <td>11:00am</td>
        <td><em>Break</em>
        </td>

    <tr>
        <td>11:00</td>
        <td>&ndash;</td>
        <td>12:40pm</td>
        <td>
            <h4>
                Paper Session: Networks and Privacy<br/>
                <small>Moderated by Sophie Engle</small>
            </h4>

            <p>Visual-Interactive Identification of Anomalous IP-Block Behavior Using Geo-IP Data <em
                    class="text-muted">by
                Alex Ulmer, Marija Schufrin, David Sessler, Jörn Kohlhammer</em> &nbsp;<a
                    href="https://ieeexplore.ieee.org/document/8709182/" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-alt" aria-hidden="true"></i></a> <a href="https://vimeo.com/308133195"
                                                                           style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a></p>

            <p>Looking for a Black Cat in a Dark Room: Security Visualization for Cyber-Physical System Design and
                Analysis <em class="text-muted">by Georgios Bakirtzis, Brandon James Simon, Cody H Fleming, Carl R.
                    Elks</em> &nbsp;<a href="https://ieeexplore.ieee.org/document/8709187/"
                                       style="border: none; text-indent: 0em;"><i class="fas fa-file-alt"
                                                                                  aria-hidden="true"></i></a> <a
                        href="https://vimeo.com/308133381" style="border: none; text-indent: 0em;"><i
                        class="fas fa-file-video" aria-hidden="true"></i></a></p>

            <p>Visual Analytics for Root DNS Data <em class="text-muted">by Eric Krokos, Alexander R Rowden, Kirsten
                Whitley, Amitabh Varshney</em> &nbsp;<a
                    href="https://ieeexplore.ieee.org/document/8709205/"
                    style="border: none; text-indent: 0em;"><i class="fas fa-file-alt" aria-hidden="true"></i></a> <a
                    href="https://vimeo.com/308133476r" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a></p>

            <p>An Empirical Study on Perceptually Masking Privacy in Graph Visualizations <em class="text-muted">by
                Jia-Kai Chou, Chris Bryan, Jing Li, Kwan-Liu Ma</em> &nbsp;<a
                    href="https://ieeexplore.ieee.org/document/8709181/"
                    style="border: none; text-indent: 0em;"><i class="fas fa-file-alt" aria-hidden="true"></i></a> <a
                    href="https://vimeo.com/308133652" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a></p>

        </td>
    </tr>

    <tr class="text-muted">
        <td>12:40</td>
        <td>&ndash;</td>
        <td>2:20pm</td>
        <td><em>Lunch Break</em>
        </td>

    <tr>
        <td>1:00</td>
        <td>&ndash;</td>
        <td>2:00pm</td>
        <td>
            <h4>
                Birds-of-a-Feather Lunchtime Discussion: “Transition: The Power of Adaptation and Accommodation”<br/>
                <small>Led by Awalin Sopan, FireEye, Inc.</small>
            </h4>

            <p>
                Technology around us is constantly evolving, so is our surroundings. While people from underrepresented
                group often go through more changes when they are reaching for success, change is something we all can
                related to. Being in a highly interdisciplinary field, we have much to share about how we can navigate
                the changes around us. We will see technological and demographic shift, and we ourselves will change
                over time. A large population vulnerable to cyber-threat are not in that position because their
                passwords were hacked, but because of their belief in the internet, may it be fake news or bot-accounts.
                How can we utilize our experience with transition to empathize with more people, and design a more
                successful career for ourselves and better products as well?
                <br/>
            </p>

    <tr>
        <td>2:20</td>
        <td>&ndash;</td>
        <td>3:35pm</td>
        <td>
            <h4>
                Paper Session: Analytics<br/>
                <small>Moderated by John Goodall</small>
            </h4>

            <p>Building a Machine Learning Model for the SOC, by the Input from the SOC, and Analyzing it for the SOC
                <em class="text-muted">by Awalin, Sopan, Matthew Berninger, Murali Kiran Mulakaluri, Raj Katakam</em>
                &nbsp;<a href="https://ieeexplore.ieee.org/document/8709231" style="border: none; text-indent: 0em;"><i
                        class="fas fa-file-alt" aria-hidden="true"></i></a> <a href="https://vimeo.com/308133805"
                                                                               style="border: none; text-indent: 0em;"><i
                        class="fas fa-file-video" aria-hidden="true"></i></a>
                <br/>
            </p>

            <p>Visualizing Automatically Detected Periodic Network Activity <em class="text-muted">by Robert Gove,
                Lauren Deason</em> &nbsp;<a href="https://ieeexplore.ieee.org/document/8709177/"
                                            style="border: none; text-indent: 0em;"><i class="fas fa-file-alt"
                                                                                       aria-hidden="true"></i></a> <a
                    href="https://vimeo.com/308133999" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a></p>

            <p>Crush your data with ViC^2ES then CHISSL away <em class="text-muted">by Dustin L Arendt, Lyndsey
                Franklin, Fumeng Yang, Brooke Brisbois, Ryan LaMothe</em> &nbsp;<a
                    href="https://ieeexplore.ieee.org/document/8709212/" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-alt" aria-hidden="true"></i></a> <a href="https://vimeo.com/308134119"
                                                                           style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a></p>


        </td>
    </tr>

    <tr class="text-muted">
        <td>3:35</td>
        <td>&ndash;</td>
        <td>4:00pm</td>
        <td><em>Demos</em>
        </td>

    <tr class="text-muted">
        <td>4:00</td>
        <td>&ndash;</td>
        <td>4:20pm</td>
        <td><em>Break</em>
        </td>

    <tr>
        <td>4:20</td>
        <td>&ndash;</td>
        <td>5:10pm</td>
        <td>
            <h4>
                Paper Session: Malware Analysis<br/>
                <small>Moderated by Jörn Kohlhammer</small>
            </h4>

            <p>

                ROPMate: Visually Assisting the Creation of ROP-based Exploits <em class="text-muted">by Marco Angelini,
                Graziano Blasilli, Pietro Borrello Borrello, Emilio Coppa, Daniele Cono D'Elia, Serena Ferracci, Simone
                Lenti, Giuseppe Santucci</em> <span class="label label-info"><i
                    class="fa fa-trophy"></i> Best Paper</span> &nbsp;<a
                    href="https://ieeexplore.ieee.org/document/8709204/"
                    style="border: none; text-indent: 0em;"><i class="fas fa-file-alt" aria-hidden="true"></i></a> <a
                    href="https://vimeo.com/308134382" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a>

                <br/>
                <small class="text-info"><em><i class="fas fa-trophy"></i> Best Paper Award Sponsored by <strong>Two Six
                    Labs</strong>.</em></small>
            </p>


            <p>Eventpad: Rapid Malware Analysis and Reverse Engineering using Visual Analytics <em class="text-muted">by
                Bram Cappers, Paulus N. Meessen, Sandro Etalle, Jarke van Wijk</em> &nbsp;<a
                    href="https://ieeexplore.ieee.org/document/8709230/"
                    style="border: none; text-indent: 0em;"><i class="fas fa-file-alt" aria-hidden="true"></i></a> <a
                    href="https://vimeo.com/308134460" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a></li></p>

        </td>
    </tr>

    <tr>
        <td>5:10</td>
        <td>&ndash;</td>
        <td>5:50pm</td>
        <td>
            <h4>
                Paper Session: Short Papers<br/>
                <small>Moderated by Robert Gove</small>
            </h4>

            <p>User Behavior Map: Visual Exploration for Cyber Security Session Dat <em class="text-muted">by Siming
                Chen, Shuai Chen, Natalia Andrienko, Gennady Andrienko, Phong H. Nguyen, Cagatay Turkay, Olivier
                Thonnard, Xiaoru Yuan</em> &nbsp;<a href="https://ieeexplore.ieee.org/document/8709223/"
                                                    style="border: none; text-indent: 0em;"><i class="fas fa-file-alt"
                                                                                               aria-hidden="true"></i></a>
                <a href="https://vimeo.com/308134784" style="border: none; text-indent: 0em;"><i
                        class="fas fa-file-video" aria-hidden="true"></i></a></p>

            <p>TAPESTRY: Visualizing Interwoven Identities for Trust Provenance <em class="text-muted">by Yifan Yang,
                John Collomosse, Arthi Kanchana Manohar, Jo Briggs, Jamie Steane</em> &nbsp;<a
                    href="https://ieeexplore.ieee.org/document/8709236/"
                    style="border: none; text-indent: 0em;"><i class="fas fa-file-alt" aria-hidden="true"></i></a> <a
                    href="https://vimeo.com/308134921" style="border: none; text-indent: 0em;"><i
                    class="fas fa-file-video" aria-hidden="true"></i></a></p>


        </td>
    </tr>

    <tr>
        <td>5:50</td>

        <td>
            <h4>
                Closing Remarks<br/>
                <small>Diane Staheli</small>
            </h4>

        </td>
    </tr>

</table>

<a class="page-anchor" id="keynote"></a>
<h3>Keynote</h3>

<img class="pull-right img-thumbnail" src="/assets/img/sandrogayken.jpg" alt="Dr Sandro Gaycken"
     style="margin-left: 6px; margin-bottom: 2px;">

<h4 class="media-heading">
    Dr Sandro Gaycken<br/>
    <small>Senior Researcher and Director of the Digital Society Institute<br/>
        ESMT Berlin
    </small>
</h4>

<!--
<h5>Maintaining Context</h5>

<p>What is the most difficult challenge to using visualization tools to obtain and maintain cyber situational awareness? Is it the data? Analytics? Stale dashboards or displays? Users? My vote is context. Visualization tools often fail to obtain significant adoption or user acceptance because the context obtained at one level of sharing (strategy, operational, tactical, or technical) is lost when viewed by different people, teams, or at a different level. Developing visualization strategies and tools that enable users to integrate data and information while maintaining context through the various levels of sharing is critical to achieving useful situational awareness in cyber and can be a vital feature in advancing the art of cyber security.</p>

//-->

<h5>Biography</h5>

<p>Dr Sandro Gaycken is founder and director of the Digital Society Institute at ESMT Berlin. He has published five
    scientific monographs, three on cyberwarfare, and more than 60 other scientific publications on cybersecurity.
    Sandro is an Oxford Martin School Fellow, a program committee member of Harvard-MIT’s annual conference series on
    cyber defense and cyber norms, a Senior Advisor for the AI Initiative at Harvard Kennedy School, co-lead “Programme
    Transverse Sécurité Défense, Sec. Cybersecurity” at elite French university CNAM, an EastWest Senior Fellow, a
    Senior Fellow of the German Council on Foreign Relations, a member of the Conversation Circle Intelligence Services
    in Germany, and an IEEE permanent reviewer. As an advisor to the German government, he developed the German foreign
    cyber policy strategy, testified numerous times in German parliament, and conducted many parliamentary dialogues. He
    was instrumental in bringing about the German chancellory’s German-Chinese No-Spy agreement, in the White House
    USTR’s effort to mitigate industrial espionage, and in IAEA and G8 efforts to control nuclear cybersecurity. In
    cyber military affairs, Sandro served as part of the German MoD’s cyber defense white book process, and moderated
    interdepartmental cyber coordination efforts. He serves as an expert witness in NATO military cyber
    counterintelligence cases, and as director in NATO’s SPS program, which develops and implements national
    cyberdefense strategies and technologies in the Middle East region. As an industrial advisor, Sandro has conducted
    nine major industry studies, ranging from smartgun and semiconductor component security assessments to strategic
    industry development issues. He advises large German cyber investors such as ammer!partners and Allianz ventures,
    developed Allianz’s cyber risk assessment methodology, and produced a buyer’s guide for the German DIHK and SME
    community, which lists 120 external criteria to assess the security quality of an IT-product. Sandro also founded
    the high assurance security company SECURE ELEMENTS Ltd., which offers impenetrable embedded systems and highly
    secure execution environments. Devoted to an open discourse and public enlightenment, he writes frequent op-eds in
    leading German newspapers like Handelsblatt, FAZ, Süddeutsche, and DIE ZEIT, and he comments regularly on cyber
    matters on mainstream media outlets such as Tagesschau, Heute, NTV, N24, CNN, BBC, Bloomberg, Forbes, The Economist,
    The Guardian, The Times, Wired, Vanity Fair, and Al Jazeera.</p>

<a class="page-anchor" id="posters"></a>
<h3>Posters</h3>
<P> poster viewing will be in the Foyers room on Wednesday 5:20-7:00 PM during the main VIS power session</P>

<ul>
    <li>Doing User Behaviour Analytics through Interactive Visual User Profiles <em>by Phong H. Nguyen, Siming Chen,
        Natalia Andrienko, Gennady Andrienko, Olivier Thonnard, Cagatay Turkay</em> <a
            href="/files/2018/Nguyen_Poster_Doing User Behaviour Analytics.pdf" style="border: none; text-indent: 0em;"><i
            class="fa fa-download"></i></a><br/><br/></li>

    <li>Designing Visualisation Enhancements for SIEM Systems <em>by Phong H. Nguyen, Siming Chen, Natalia Andrienko,
        Michael Kamp, Linara Adilova, Gennady Andrienko, Olivier Thonnard, Alysson Bessani, Cagatay Turkay</em> <a
            href="/files/2018/Nguyen_Poster_Designing Visualisation Enhancements.pdf"
            style="border: none; text-indent: 0em;"><i class="fa fa-download"></i></a><br/><br/></li>

    <li>Visual Content Privacy Leaks on Social Media Networks <em>by Jasmine DeHart, Christan Grant</em> <a
            href="/files/2018/DeHart_Poster.pdf" style="border: none; text-indent: 0em;"><i class="fa fa-download"></i></a><br/><br/>
    </li>

    <li>Email Campaign Explorer for Detecting Malicious Email Campaigns <em>by Awalin Sopan, Parnian Najafi</em> <a
            href="/files/2018/Sopan_Poster.pdf" style="border: none; text-indent: 0em;"><i
            class="fa fa-download"></i></a><br/><br/></li>

    <li>A Set Visualization Tool for Network Metadata Exploration and Threat Hunting <em>by Brett Fouss, Dennis Ross,
        Shannon Robinson, Kenneth Alperin</em> <a href="/files/2018/Fouss_Poster.pdf"
                                                  style="border: none; text-indent: 0em;"><i class="fa fa-download"></i></a><br/><br/>
    </li>

    <li>Exploring the role of experts’ knowledge in visualizations for cyber security <em>by Fabian Böehm, Noëlle
        Rakotondravony, Günther Pernul, Hans P. Reiser</em> <a href="/files/2018/Bohm_Poster.pdf"
                                                               style="border: none; text-indent: 0em;"><i
            class="fa fa-download"></i></a><br/><br/></li>

    <li>Towards Bridging the Gap Between Visual Cybersecurity Analytics and Non-Experts by Means of User Experience
        Design <em>by Marija Schufrin, Alex Ulmer, David Sessler, Jörn Kohlhammer</em> <a
                href="/files/2018/Schufrin_Poster.pdf" style="border: none; text-indent: 0em;"><i
                class="fa fa-download"></i></a><br/><br/></li>

    <li>Multi-layer Onion-ring Visualization of Distributed Clusters for SmartX Multiview Visibility and Security <em>by
        Jun-Sik Shin, Muhammad Usman, JongWon Kim</em> <a href="/files/2018/Shin_Poster.pdf"
                                                          style="border: none; text-indent: 0em;"><i
            class="fa fa-download"></i></a><br/><br/></li>

    <li>An Exploration of User Centered and System Based Approaches to Cyber Situation Awareness <em>by Margaret Varga,
        Carsten Winkelhotz, Susan Träeber-Burdin</em> <a href="/files/2018/Varga_Poster.pdf"
                                                         style="border: none; text-indent: 0em;"><i
            class="fa fa-download"></i></a><br/><br/></li>

    <li>Visualizing Remote Network Reactions with Firewall Probe <em>by Hyuga Kobayashi, Hideya Ochiai, Hiroshi
        Esaki</em> <a href="/files/2018/Kobayashi_Poster.pdf" style="border: none; text-indent: 0em;"><i
            class="fa fa-download"></i></a><br/><br/></li>
</ul>

<li>Heterogeneous Logs Graph Visualization and Clustering for Attack Traces Discovery <em>by Laetitia Leichtnam, Éric
    Totel, Nicolas Prigent, Ludovic Mé </em> <a href="/files/2018/Leichtnam_Poster.pdf"
                                                style="border: none; text-indent: 0em;"><i
        class="fa fa-download"></i></a><br/><br/></li>

</ul>

</ul>

<a class="page-anchor" id="cfp"></a>


<h3>Call for Papers</h3>

<p>
    The 15th IEEE Symposium on Visualization for Cyber Security (VizSec) brings together researchers and practitioners
    from academia, government, and industry to address the needs of the cyber security community through new and
    insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange
    and new collaborations on a broad range of security- and privacy-related topics. VizSec will be held in <strong>Berlin,
    Germany</strong> in conjunction with <a href="http://ieeevis.org/">IEEE VIS</a>, on <strong>Monday, October 22nd,
    2018.</strong>
</p>
<p>
    VizSec explores effective and scalable visual interfaces for security domains such as network security, computer
    forensics, reverse engineering, insider threat detection, cryptography, privacy, user assisted attacks prevention,
    compliance management, wireless security, secure coding, and penetration testing.
</p>
<p>
    VizSec solicits both full and short papers, both of which will be published in the proceedings that will be
    published by IEEE. Authors of accepted papers must guarantee that their papers will be presented at the conference.
</p>

<h4>Technical Papers</h4>
<p>
    Full papers describing novel contributions in security visualization are solicited. Papers may present techniques,
    applications, theory, analysis, experiments, or evaluations. We encourage the submission of papers on technologies
    and methods that improve cyber security practices, including, but not limited to:
</p>

<ul>
    <li>Situation awareness and/or understanding</li>
    <li>Incident handling including triage, exploration, correlation, and response</li>
    <li>Computer forensics</li>
    <li>Recording and reporting results of investigations</li>
    <li>Assisting proactive security configuration and deployment</li>
    <li>Reverse engineering and malware analysis</li>
    <li>Vulnerability management</li>
    <li>Multiple data source analysis</li>
    <li>Analyzing information requirements for computer network defense</li>
    <li>Evaluation and/or user testing of VizSec systems</li>
    <li>Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal
        perspective or a human factors perspective)
    </li>
    <li>Modeling system and network behavior</li>
    <li>Modeling attacker and defender behavior</li>
    <li>Studying risk and impact of cyber attacks</li>
    <li>Predicting future attacks or targets</li>
    <li>Security metrics and education</li>
    <li>Software security</li>
    <li>Mobile application security</li>
    <li>Social networking privacy and security</li>
</ul>

<br/>
<p>
    When applicable, visualization and interaction techniques that effectively capture the insights of human analysts
    and/or allow analysts to collaborate efficiently are particularly desirable.
</p>

<p>
    Submissions including tests and evaluations of existing tools and techniques are also considered particularly
    desirable. If possible, making the data used for the tests available will also be considered positively. If you do
    not have real-world data to demonstrate your visualization, you may be interested in looking at the <a
        href="/data/">VizSec Data Sets</a> page.
</p>

<h4>Short Papers</h4>
<p>
    Short papers describing practical applications of security visualization are solicited. We encourage the submission
    of papers discussing the introduction of cyber security visualizations into operational context, including, but not
    limited to:
</p>

<ul>
    <li>Cases where visualization made positive contributions towards meeting operational needs</li>
    <li>Gaps or negative outcomes from visualization deployments</li>
    <li>Situations where visualization was not utilized, but could have had a positive impact</li>
    <li>Lessons learned from operational engagements</li>
    <li>Insights gained from the transition process</li>
</ul>

<p>
    <br/>
    Cyber security practitioners from industry, as well as the research community, are encouraged to submit case
    studies.
</p>

<h4>Posters</h4>
<p>
    Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual
    representations relevant to the VizSec community. The poster program will be a great opportunity for the authors to
    interact with the attendees and solicit feedback. Accepted poster abstracts will be made available on the VizSec
    website.
</p>

<a class="page-anchor" id="awards"></a>
<h3>Awards</h3>
<p>
    There will be an award for the best paper from the accepted program. This award will be given to the paper judged to
    have the highest overall quality as determined by the program committee. Key elements of the selection process
    include whether papers include evaluation, repeatable results, and open-source data or software. Both full and short
    papers are eligible.
</p>
<p>
    Thanks to the generous support of <a href="https://www.twosixlabs.com/">Two Six Labs</a>, the best paper awardee
    will receive a $100 Amazon gift card!
</p>

<a class="page-anchor" id="submissions"></a>
<h3>Submissions</h3>

<p>
    The VizSec 2018 proceedings will be published by IEEE. Submissions must be formatted using the IEEE "Conference
    Style" template that can be found at:
</p>
<p>
    <a href="http://junctionpublishing.org/vgtc/Tasks/camera.html">http://junctionpublishing.org/vgtc/Tasks/camera.html</a>
</p>
</p>
<p>
    All submissions must be in PDF format.
</p>
<p>
    <a href="https://new.precisionconference.com/submissions">
        https://new.precisionconference.com/submissions</a>
</p>

<p>
    After logging in, click the submissions link on the top navigation bar. Select Society: VGTC, Conference: VizSec
    2018
</p>

<p class="text-muted small">
    <span class="label label-default">Note</span> Posters will be submitted via email instead of PCS. For more
    information, please see the <strong>Posters</strong> section below.
</p>

<h4>Papers</h4>
<p>
    Full Papers should be at most <strong>8 pages</strong> including the bibliography and appendices. Short papers
    should be at most <strong>4 pages</strong> including the bibliography and appendices.
</p>
<p>
    <em>All papers</em> will be peer-reviewed by at least 3 members of the program committee. Committee members are not
    required to read the appendices or any pages past the maximum. Submissions not meeting these guidelines will be
    rejected without consideration of their merit.
</p>
<p>
    Reviews are single-blind, so authors may include names and affiliations in their submissions. Submitted papers must
    not substantially overlap papers that have been published or that are simultaneously submitted to a journal or a
    conference with proceedings.
</p>

<h4>Posters</h4>
<p>
    To submit a poster, please email an extended abstract as a PDF attachment to <a href="mailto:posters@vizsec.org">posters@vizsec.org</a>
    and include the author names and affiliations in the email body.
    Extended abstract should be at most 2 pages including the bibliography. Poster abstracts will be reviewed by the
    Poster Chair(s) and other members of the organizing committee to determine relevance to the VizSec community.
</p>
<p>
    Accepted authors must present a corresponding poster during the workshop. The poster authors can determine the
    layout by themselves, but the dimensions of the posters should not exceed the A0 space (841mm x 1189mm or 33.1" x
    46.8"). Additionally, poster authors are requested to give a brief oral preview during a plenary "fast forward"
    session.
</p>
<p>
    Accepted poster abstracts will be made available on this website.
</p>

<a class="page-anchor" id="scholarships"></a>
<h3>Diversity Scholarships</h3>

<p>Thanks to the generous donations of our sponsors, we are delighted to announce that we will be offering several
    <strong>VizSec 2018 Diversity Scholarship</strong> awards to help cover the costs of attending VizSec. This
    scholarship award covers full week registration plus a small stipend to help offset travel costs.</p>

<h4> Application Process </h4>

<p>All VizSec attendees may apply for the diversity scholarships except for those from a country on the OFAC sanctions
    list at:</p>

<p><a href="http://www.ieee.org/conferences_events/conferences/organizers/sanctions.html">http://www.ieee.org/conferences_events/conferences/organizers/sanctions.html</a>
</p>

<p>Applicants must submit a cover letter and curriculum vitae in PDF format. The cover letter should discuss your
    eligibility for this scholarship and how you would benefit from attending VizSec 2017. It should be no more than 2
    pages (letter size) with at least 1 inch margins and 11pt or larger font.</p>

<p>Applications will also be asked to answer the following questions:</p>

<ul>
    <li>Have you ever attended VizSec or VIS before? If so, when?</li>
    <li>Are you currently a student? If so, please specify the degree and subject area you are working on, and where.
    </li>
    <li>Are you from an underrepresented group in computer science? If so, please specify.</li>
    <li>Please let us know your country or countries of citizenship, and the country and city you will be traveling
        from.
    </li>
</ul>
<br/>
<p>To apply for this scholarship, login or create an account at:</p>

<p><a href="https://new.precisionconference.com/vizsec18b ">https://new.precisionconference.com/vizsec18b </a></p>

<p>After logging in, click the "new submissions" link on the top navigation bar and look for the link for "Submit to
    VizSec 2018 Diversity Scholarship" in the list under the "VIS 2018" heading.</p>

<p>The application deadline is August 22, 2018 at 5:00pm PDT. Awardees will be notified by September 04, 2018, and must
    register for the conference by the early registration deadline on September 7, 2018.</p>

<!--
<a class="page-anchor" id="dates"></a>
<h3>Important Dates</h3>

All deadlines are 5:00 PM PST.

{% for group in site.data.y2018-important_dates %}
<h4>{{ group.title }}</h4>
<table class="vizsec-cfp-dates">
  {% for item in group.dates %}
  <tr>
    <td><strong>{{ item.date | date: "%B %-d, %Y" }}</strong></td>
    <td>{{ item.long }}</td>
  </tr>
  {% endfor %}
</table>
{% endfor %}

<a class="page-anchor" id="committee"></a>
//-->

<h3>Committees</h3>


<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.y2018-organizing_committee %}
    <li>
    <span class="committee name">
      {% if member.url %}
        <a href="{{ member.url }}">{{ member.name }}</a>,
      {% else %}
        {{ member.name }},
      {% endif %}
    </span>
        <span class="committee role">{{ member.role }}</span><br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>

<h4>Program Committee</h4>

<ul>
    {% for member in site.data.y2018-program_committee %}
    <li>
    <span class="committee name">
      {{ member.name }}
    </span>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>

<a class="page-anchor" id="supporters"></a>
<h3>Supporters</h3>

<ul class="media-list">
    {% for supporter in site.data.y2018-supporters %}
    <li class="media">
        <div class="media-left">
            <a href="{{ supporter.link }}">
                <img class="media-object center-block" src="{{ supporter.image }}">
            </a>
        </div>
        <div class="media-body">
            <h5 class="media-heading">{{ supporter.title }}</h5>

            {{ supporter.blurb }}
            <p> Open Position(s): {{ supporter.jobs }} </p>
        </div>
    </li>
    {% endfor %}
</ul>

