footer
  p last modified on: #{modifyDate}
  p site hosting provided by <a href='http://securedecisions.com/'>Secure Decisions</a>
  p site designed and maintained by <a href='http://www.ornl.gov/~ojg/'>jgoodall</a> / built with <a href='http://twitter.github.com/bootstrap/'>bootstrap</a>
  p content licensed under <a href='https://creativecommons.org/licenses/by/3.0/'>CC BY 3.0</a>
      
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js")
script
  window.jQuery || document.write(unescape('%3Cscript src="#{rootUrl}/js/libs/jquery-1.7.2.min.js"%3E%3C/script%3E'))

script(src="#{rootUrl}/js/bootstrap.min.js")