.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/sci/vizsec/') VizSec 
      .nav-collapse
        ul.nav
          li: a(href='/sci/vizsec/#cfp') Call for Papers
          li: a(href='/sci/vizsec/#sub') Submissions
          li: a(href='/sci/vizsec/#dat') Dates
          li: a(href='/sci/vizsec/#hot') Hotel
          li: a(href='/sci/vizsec/#com') Committee
        ul.nav.pull-right
          li: a(href='/sci/vizsec/past.html')
            i.icon-calendar.icon-white
            span &nbsp; Past Events
          li: a(href='http://lists.vizsec.org/mailman/listinfo/info_lists.vizsec.org')
            i.icon-envelope.icon-white
            span &nbsp; Mailing List
          li: a(href='/sci/vizsec/about.html')
            i.icon-info-sign.icon-white
            span &nbsp; About