
<a id="call" class="page-anchor"></a>

<p>The 13th IEEE Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together researchers and practitioners from academia, government, and industry to address the needs of the cyber security community through new and insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange and new collaborations on a broad range of security- and privacy-related topics. VizSec in 2016 will be held in <strong>Baltimore, MD, USA</strong> in conjunction with <a href="http://ieeevis.org">IEEE VIS</a>, on <strong>Monday October 24th</strong>.</p>

<p>The purpose of VizSec is to explore effective and scalable visual interfaces for security domains such as network security, computer forensics, reverse engineering, insider threat detection, cryptography, privacy, user assisted attacks prevention, compliance management, wireless security, secure coding, and penetration testing.</p>

<p>More information on format and submissions can be found <a href="/vizsec2016/#cfp">in the call for papers</a>.</p>
