<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">

	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css"
	integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css"
	integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/img/favicon/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/img/favicon/apple-touch-icon-144x144.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "/assets/img/favicon/apple-touch-icon-60x60.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/img/favicon/apple-touch-icon-120x120.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/assets/img/favicon/apple-touch-icon-76x76.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/img/favicon/apple-touch-icon-152x152.png" | prepend: site.baseurl }}" />
	<link rel="icon" type="image/png" href="{{ "/assets/img/favicon/favicon-196x196.png" | prepend: site.baseurl }}" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{ "/assets/img/favicon/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{ "/assets/img/favicon/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ "/assets/img/favicon/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{ "/assets/img/favicon/favicon-128.png" | prepend: site.baseurl }}" sizes="128x128" />

	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="{{ "/assets/img/favicon/mstile-144x144.png" | prepend: site.baseurl }}" />
	<meta name="msapplication-square70x70logo" content="{{ "/assets/img/favicon/mstile-70x70.png" | prepend: site.baseurl }}" />
	<meta name="msapplication-square150x150logo" content="{{ "/assets/img/favicon/mstile-150x150.png" | prepend: site.baseurl }}" />
	<meta name="msapplication-wide310x150logo" content="{{ "/assets/img/favicon/mstile-310x150.png" | prepend: site.baseurl }}" />
	<meta name="msapplication-square310x310logo" content="{{ "/assets/img/favicon/mstile-310x310.png" | prepend: site.baseurl }}" />

	{% if page.custom_css %}
		{% for stylesheet in page.custom_css %}
		<link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css" media="screen" type="text/css">
		{% endfor %}
	{% endif %}

</head>
