
<div class="navbar-underlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="hidden-xs hidden-sm pull-right"><a href="http://www.ieee.org/"><img id="ieee" src="/assets/img/branding_ieee.png" alt="IEEE Logo"/></a></div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/assets/img/branding_logo.png" alt="VizSec Logo"/></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/vizsec2021"><i class="fas fa-file-alt" aria-hidden="true"></i> VizSec 2021 Home<i class="nav-sep fas fa-circle"></i></a></li>
				<li><a href="/sponsorship"><i class="fas fa-university" aria-hidden="true"></i> Sponsorship<i class="nav-sep fas fa-circle"></i></a></li>
				<li><a href="/news"><i class="fas fa-bullhorn" aria-hidden="true"></i> News<i class="nav-sep fas fa-circle"></i></a></li>
				<li><a href="/past"><i class="fas fa-calendar-alt" aria-hidden="true"></i> Past Years<i class="nav-sep fas fa-circle"></i></a></li>
				<li><a href="/data"><i class="fas fa-database" aria-hidden="true"></i> Data<i class="nav-sep fas fa-circle"></i></a></li>
				<li><a href="/about"><i class="fas fa-info-circle" aria-hidden="true"></i> About</a></li>
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</nav>
