
<div class="navbar-underlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="hidden-xs hidden-sm pull-right"><a href="http://www.ieee.org/"><img id="ieee" src="/assets/img/branding_ieee.png" alt="IEEE Logo"/></a></div>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/assets/img/branding_logo.png" alt="VizSec Logo"/></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav ">
				<li><a href="/cfp"><i class="fa fa-file-text-o" aria-hidden="true"></i> </span>Call for Papers</a></li>
				<li><a href="/sponsorship"><i class="fa fa-bank" aria-hidden="true"></i> </span>Sponsorship</a></li>
				<li><a href="/news"><i class="fa fa-bullhorn" aria-hidden="true"></i> </span>News</a></li>
				<li><a href="/past"><i class="fa fa-calendar" aria-hidden="true"></i> </span>Past Years</a></li>
				<li><a href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i> </span>About</a></li>
			</ul>
		</div><!--/.navbar-collapse -->
	</div>
</nav>
