<div class="jumbotron">
	<div class="container">
		<div class="row">
			<h1>IEEE Symposium on Visualization for Cyber Security</h1>
			<p>The IEEE Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together researchers and practitioners from academia, government, and industry to address the needs of the cyber security community through new and insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange and new collaborations on a broad range of security- and privacy-related topics.</p>
			<!-- <p>
				<a class="btn btn-primary btn-lg pull-left" href="/about" role="button">About VizSec &raquo;</a></p>
				<a class="btn btn-primary btn-lg pull-left" href="/sponsorship" role="button">Become a Sponsor &raquo;</a>
			</p> -->
		</div>
	</div>
</div>
