
<div class="container">

	<div class="row">
		<div class="col-md-8">

			{% if page.title %}<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>{{ page.title }}</h2>{% endif %}

			{{ content }}
		</div>
		<div class="col-md-4 sidebar">
			<div>
				<a id="contact" class="page-anchor"></a>
				<h4><i class="fa fa-envelope" aria-hidden="true"></i> Get in Touch</h4>
				<p>
					Email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding the latest VizSec event. For general questions, email <a href="mailto:info@vizsec.org">info@vizsec.org</a> or post to our <a href="https://groups.google.com/forum/#!forum/vizsec">Google group.</a>
				</p>
				<p>
				<i class="fa fa-twitter" aria-hidden="true"></i> Follow <a href="https://twitter.com/vizsec">@vizsec</a> on Twitter!
				</p>
			</div>
			<div class="sidebar_dates hidden-sm hidden-xs">
				<h4><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Important Dates</h4>

				{% for group in site.data.y2017-important_dates %}
				<h5>{{ group.title }}</h5>
				<table>
					{% for item in group.dates %}
					<tr>
						<th>{{ item.date | date: "%b %-d" }}</th>
						<td>{{ item.short }}</td>
					</tr>
					{% endfor %}
				</table>
				{% endfor %}

			</div>
			<div class="sidebar_supporters hidden-sm hidden-xs">
				<h4><i class="fa fa-star" aria-hidden="true"></i> Supporters</h4>

				{% for supporter in site.data.y2017-supporters %}
				<p><a href="{{ supporter.link }}"><img src="{{ supporter.image }}" class="img-responsive"></a></p>
				{% endfor %}
				<br/>
			</div>
			<div>
				<h4><i class="fa fa-bullhorn" aria-hidden="true"></i> VizSec News</h4>
				<ul>
					{% for post in site.posts %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="sidebar_extraneous">
				<h4><i class="fa fa-calendar" aria-hidden="true"></i> Past VizSec Events</h4>
					<div>
						<dl class="dl-horizontal-xs vizsec-event-sidebar-list">
						{% for event in site.data.pastyears %}
						<dt><a href="{{ event.website }}"><span class="label label-primary">{{ event.year }}</span></a></dt>
						<dd><small>{{ event.location }}</small></dd>
						{% endfor %}
						</dl>
					</div>
					<a id="viewallevents" class="btn btn-default btn-sm " href="/past">View all »</a>
			</div>
		</div>
	</div>
</div>
