/*
	VizSec base SASS styling
*/

@charset "UTF-8";

body {
  padding-top: floor(($navbar-height));
  background: $vizsec_dark;
}

// headers are all sans serif; body is serif
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-magnifier {
  height: 25px;
  margin-right: 10px;
}

.jumbotron {
  padding: 0px 15px 0px 15px;
}

.jumbotron > .container {
  padding: 0px 30px 0px 30px;
}

.jumbotron .btn {
  margin-right: 14px;
}

.align-to-list {
  margin-left: 1.8em;
}

li {
  padding-left: 1.8em;
  text-indent: -.7em;
}

li:before {
  content: "\BB  ";
  color: $vizsec_highlight;
}

li.no-bullet {
  content: "" !important;
  list-style: none;
  list-style-type: none;
}

.vspace {
  margin-top: 10px;
}

.vspacebig {
  margin-top: 20px;
}

// by default, the sidebar 'past years' list is hidden
// it is invoked by page-specific css in the page's Liquid bits
.sidebar_extraneous {
  display: none;
}

#navbar li {
  padding-left: 26px;
}

.nav-sep {
  @extend .hidden-xs;
  margin-right: 0em;
  margin-left: 3em;
  position: relative;
  top: -0.2em;
  font-size: 0.5em !important;
  color: $vizsec_highlight;
}

.navbar-nav .fa:not(.nav-sep) {
  font-size: 0.9em;
  margin-top: -0.1em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

// thanks to http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
.page-anchor {
  padding-top: $navbar_height;
  margin-top: (-$navbar_height);
  display: inline-block;
  height: 1px;
}

.footer {
  padding-top: 10px;
  width: 100%;
  height: 80px;
  background-color: $vizsec_light;
}

.footer > div {
  border-top: 7px solid $vizsec_highlight;
  background-color: $vizsec_dark;
  font-family: $font-family-sans-serif;
  text-align: center;
  color: $vizsec_light;
  padding: 30px 0px 30px 0px;
}

.page-content-default {
  background: white;
  padding-top: 20px;
  min-height: 700px;
  padding-bottom: 50px;
}

.page-content {
  background: white;
}

a:link:not(.btn),
a:visited:not(.btn),
a:hover:not(.btn),
a:active:not(.btn) {
  text-decoration: none;
  border-bottom: 1px dotted $vizsec_dark;
}

.sidebar > div:not(:last-child) {
  margin-bottom: 25px;
}

.sidebar {
  margin-bottom: 20px;
}

.btn {
  font-family: $font-family-sans-serif;
}

.jumbotron {
  color: $vizsec_light;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0px;
  border-bottom: 7px solid $vizsec_highlight;
}

.highlight {
  color: $vizsec_highlight;
}

#ieee {
  margin: 37px 30px 0;
  height: 20px;
}

.navbar-brand > img {
  height: 40px;
  margin-top: -5px;
}

@media (min-width: $screen-sm) {
  .navbar-brand > img {
    margin-top: 2px;
  }
}

// the underlay stops inertia scrolling from showing whitespace
.navbar-underlay {
  z-index: -1;
  background-color: $vizsec_dark;
  width: 100%;
  height: $navbar_height;
  position: absolute;
  top: 0px;
  left: 0px;
}

.navbar-nav {
  padding-top: 10px;
  font-family: $font-family-sans-serif;
  font-size: 13pt;
}

.navbar-nav a {
  color: #fff;
}

.navbar-nav a:hover {
  color: #bbb;
}

.nav > li:before {
  content: none;
}

.nav > li > a {
  padding-left: 8px;
  padding-right: 0px;
}

.ipc.name {
  font-weight: bold;
}

.ipc.affiliation {
  font-weight: bold;
  color: $vizsec_highlight;
}

.committee.name {
  font-weight: bold;
}

.committee.name > a {
  color: $vizsec_dark;
}

.committee.affiliation {
  color: $vizsec_highlight;
  font-size: floor(($font-size-base * 0.85));
}

.committee.role {
  font-style: italic;
}

.vizsec-event-sidebar-list > dt {
  width: 60px;
}

.vizsec-event-sidebar-list > dt > span {
  width: 50px;
  display: inline-block;
}

#viewallevents {
  margin-top: 0px;
  margin-left: 0px;
  @media (min-width: $screen-sm) {
    margin-left: 70px;
  }
}

.dl-horizontal-xs {
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: $dl-horizontal-xs-offset) {
    dt {
      float: left;
      width: ($dl-horizontal-xs-offset - 10);
      clear: left;
      text-align: right;
      @include text-overflow;
    }
    dd {
      margin-left: $dl-horizontal-xs-offset;
    }
  }
}

.dl-horizontal dd {
}

.dl-horizontal dd {
  margin-left: 0px;
  @media (min-width: $screen-sm) {
    margin-left: 70px;
  }
}

.vizsec-event-meta > dd {
  border-bottom: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;

  @media (min-width: $screen-sm) {
    margin-left: 180px;
  }
}

.vizsec-event-meta.title {
  font-style: italic;
}

.vizsec-event-meta.location {
}

.vizsec-event-meta.date {
}

.vizsec-event-meta.acceptance {
}

table.vizsec-cfp-dates {
  margin-left: 40px;
}

table.vizsec-cfp-dates tr td:first-child {
  padding-right: 10px;
  text-align: right;
}

// program style (added by sjengle)

table.program {
  border-collapse: collapse;
}

table.program tr {
  border-bottom: 1px solid #eeeeee;
  vertical-align: top;
}

table.program tr:last-child {
  border-bottom: none;
}

table.program td {
  padding: 8px 2px;
}

table.program tr td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
  padding-left: 0px;
}

table.program tr td:nth-child(2) {
  text-align: center;
  white-space: nowrap;
}

table.program tr td:nth-child(3) {
  text-align: left;
  white-space: nowrap;
}

table.program tr td:last-child {
  text-align: left;
  padding-left: 4px;
  padding-right: 0px;
}

table.program td h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: inherit;
  line-height: inherit;
}

table.program td p {
  margin: 8px 0px 0px 0px;
}

// for that awkward middle responsive navbar transition
@media (max-width: $screen-md) and (min-width: $screen-sm) {
  .jumbotron {
    padding-top: 50px !important;
  }
  .navbar-nav {
    margin-top: -15px;
  }
  .page-content-default {
    margin-top: 65px;
  }
}

// sponsor lists
ul.media-list {
  list-style: none;
}

ul.media-list li.media {
  padding-left: 0em;
  text-indent: 0em;
  list-style-type: none;
  float: left;
  clear: both;
  min-width: 210px;
  padding-top: 10px ;
  border-top: solid 1px #e8e8e8;
}

ul.media-list li.media:before {
  content: none;
}


ul.media-list li.media img.media-object {
  max-width: 200px;
  padding-right: 10px;
}

.sidebar_supporters {
  display: none;
}

.sidebar_dates {
  display: none;
}

.sidebar_dates table th {
  text-align: right;
  padding-right: 10px;
  white-space: nowrap;
}

.sidebar_supporters img {
  max-width: 200px;
  max-height: 100px;
}
