---
layout: default
custom_css: cfp_sidebar
---

<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>VizSec 2020</h2>

<h3>Welcome to 17th IEEE Symposium on Visualization for Cyber Security</h3>

<p>VizSec 2020 will be held in conjunction with <a href="http://ieeevis.org/">IEEE
    VIS</a>. VizSec brings together
    researchers and practitioners in information
    visualization and security to address
    the specific needs of the cyber security community through new and insightful visualization techniques.</p>

<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding
    VizSec 2020.</p>

<div>


    <a class="page-anchor" id="cfp"></a>
    <div>
        <h3>VizSec 2020 Call for Papers</h3>
        <p>The 17th IEEE Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together
            researchers and practitioners from academia, government, and industry to address the needs of the cyber
            security community through new and insightful visualization and analysis techniques. VizSec provides an
            excellent venue for fostering greater exchange and new collaborations on a broad range of security- and
            privacy-related topics. VizSec will be held in Salt Lake City, USA in conjunction with IEEE VIS, on
            Wednesday, October 28th 2020. </p>
        <p>
            VizSec will take place during the main week of the IEEE VIS conference, giving VizSec authors and attendees
            enhanced access to IEEE VIS, the premier forum for advances in theory, methods, and applications of
            visualization and visual analytics. Currently, IEEE VIS is scheduled to be held in person in Salt Lake City.
            However, due to the dynamic and evolving impact of COVID-19, we will monitor and coordinate with VIS, and
            will move to a virtual online format if the primary conference does so. We will also work with authors in
            case of coronavirus-related travel restrictions or other concerns to allow for virtual presentations.
            The purpose of VizSec is to explore effective and scalable visual interfaces for security domains such as
            network security, computer forensics, reverse engineering, insider threat detection, cryptography, privacy,
            user assisted attacks prevention, compliance management, wireless security, secure coding, and penetration
            testing. </p>

        <h4>Technical Papers</h4>
        <p>
            Full papers describing novel contributions in security visualization are solicited. Papers may present
            techniques, applications, theory, analysis, experiments, or evaluations. We encourage the submission of
            papers on technologies and methods that promise to improve cyber security practices, including, but not
            limited to: </p>

        <ul>
            <li> Situation awareness and/or understanding</li>
            <li> Incident handling including triage, exploration, correlation, and response</li>
            <li> Computer forensics</li>
            <li> Machine learning and explainable AI for cybersecurity</li>
            <li>Adversarial machine learning visualization</li>
            <li>Adversarial visualization</li>
            <li> Visual analytics for cybersecurity</li>
            <li> Data protection & privacy</li>
            <li> Blockchain performance & security</li>
            <li> Cybersecurity in critical infrastructure</li>
            <li> Recording and reporting results of investigations</li>
            <li> Assisting proactive security configuration and deployment</li>
            <li> Reverse engineering and malware analysis</li>
            <li> Vulnerability management</li>
            <li> Multiple data source analysis</li>
            <li> Analyzing information requirements for computer network defense</li>
            <li> Evaluation and/or user testing of VizSec systems</li>
            <li> Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal
                perspective or a human factors perspective)
            </li>
            <li> Modeling system and network behavior</li>
            <li> Modeling attacker and defender behavior</li>
            <li> Studying risk and impact of cyber attacks</li>
            <li> Predicting future attacks or targets</li>
            <li> Security metrics</li>
            <li> Software security</li>
            <li> Mobile application security</li>
            <li> Social networking privacy and security</li>
            <li> Training & educationn</li>
        </ul>

        <br/>
        <p>
            When applicable, visualization and interaction techniques that effectively capture the insights of human
            analysts
            and/or allow analysts to collaborate efficiently are particularly desirable.
        </p>
        <p>
            Submissions including tests and evaluations of existing tools and techniques are also considered
            particularly desirable. If possible, making the data used for the tests available will also be considered
            positively. If
            you do not have real-world data to demonstrate your visualization, you may be interested in looking at the
            <a
                    href="https://vizsec.org/data/">VizSec dataset links</a>.
        </p>

        <h4>Short Papers</h4>
        <p>
            Short papers describing initial research results, concise research contributions or incremental work on the
            above topics, even including practical applications of security visualization, are solicited. We encourage
            the submission of papers discussing the introduction of cyber security visualizations into operational
            context, including, but not limited to: </p>

        Cases where visualization made positive contributions towards meeting operational needs
        Gaps or negative outcomes from visualization deployments
        Situations where visualization was not utilized, but could have had a positive impact
        Lessons learned from operational engagements
        Insights gained from the transition process
        Cyber security practitioners from industry, as well as the research community, are encouraged to submit case
        studies.

        <ul>
            <li>Cases where visualization made positive contributions towards meeting operational needs</li>
            <li>Gaps or negative outcomes from visualization deployments</li>
            <li>Situations where visualization was not utilized, but could have had a positive impact</li>
            <li>Lessons learned from operational engagements</li>
            <li>Insights gained from the transition process</li>
        </ul>

        <p>
            <br/>
            Cyber security practitioners from industry, as well as the research community, are encouraged to submit case
            studies.
        </p>

        <h4>Position Papers</h4>
        <p>

            This year we are introducing a new VizSec paper type of position papers. Position papers focus on topics
            needing or calling for discussion or reconsideration of forgotten topics relevant for the VizSec community.
            They should report a clear position on the target topic and should also suggest a proposal or actions
            regarding the target topic. They should stimulate imaginative and hypothesis-driven research. In particular,
            we encourage submissions both from researchers inside the visualization community and outside, such as
            researchers and practitioners from pure cybersecurity domains who currently do not broadly employ
            visualization in their work.
        </p>


        <h4>Posters</h4>
        <p>
            Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual
            representations relevant to the VizSec community. The poster program will be a great opportunity for the
            authors to interact with the attendees, potentially also through live demos, and solicit feedback. Accepted
            poster abstracts will be made available on this website. </p>

        <h4>Awards</h4>

        <p>
            There will be an award for the best paper from the accepted program. This award will be given to the paper
            judged to have the highest overall quality as determined by the program committee. Key elements of the
            selection process include whether papers include evaluation, repeatable results, and open-source data or
            software. Authors of the best paper will be invited for submission to Transactions on Visualization and
            Computer Graphics. Both full and short papers are eligible.
        </p>
        <p>

            There will also be an award for Best Poster. This award will recognize authors’ efforts to clearly present
            their work to the audience. The award will be determined by anonymous judges and given to recipients at the
            end of the conference.
        </p>


        <h4>Submissions</h4>

        <p>
            The VizSec 2020 Proceedings will be published by IEEE. Submissions must be formatted using the IEEE VGTC
            conference
            proceedings template that can be found at: <a href="http://junctionpublishing.org/vgtc/Track/camera.html">
            http://junctionpublishing.org/vgtc/Track/camera.html.</a>
        </p>

        VizSec full papers are limited to 9 pages of content plus an additional 2 pages of references. Papers may be
        shorter than this but must make a similar contribution to a longer paper. Reviewers are not required to read
        the appendices or any pages past the maximum. Short papers should be at most 4 pages plus 1 page of
        references. Position papers may be up to 4 total pages including references. Posters should be 2 page
        abstracts. </p>
        <p>
            Submissions not meeting these guidelines will be rejected without consideration of their merit. Reviews are
            single-blind, so authors may include names and affiliations in their submissions. Submitted papers must not
            substantially overlap papers that have been published or that are simultaneously submitted to a journal or a
            conference with proceedings. Authors of accepted papers must guarantee that their papers will be presented
            at the conference. </p>

        VizSec uses the <a
            href="https://new.precisionconference.com/submissions">
        Precision Conference System (PCS)</a> to handle paper and poster submissions and the reviewing processes.


        </p>
    </div>


    <a class="page-anchor" id="submissions"></a>
    <div>
        <h3>Important Dates</h3>

        <p>All deadlines are 5:00 PM PST.</p>
        <p><strong>July 13 2020</strong> Submissions due for Full, Short, and Position Papers</p>
        <p><strong>August 13 2020</strong> Author notification for Full and Short Papers</p>
        <p><strong>August 31 2020</strong> Camera ready submission and copyright forms</p>
        <p><strong>August 20 2020</strong> Submissions due for Poster Abstracts</p>
        <p><strong>September 3 2020</strong> Author notification for Posters</p>
        <p><strong>October 28 2020</strong> VizSec 2020</p></p>
    </div>




    <h3>Committees</h3>

    <h4>Organizing Committee</h4>
    <ul>
        {% for member in site.data.y2020-organizing_committee %}
        <li>
    <span class="committee name">
      {% if member.url %}
        <a href="{{ member.url }}">{{ member.name }}</a>,
      {% else %}
        {{ member.name }},
      {% endif %}
    </span>
            <span class="committee role">{{ member.role }}</span><br>
            <span class="committee affiliation">{{ member.affiliation }}</span>
        </li>
        {% endfor %}
    </ul>


    <a class="page-anchor" id="supporters"></a>
    <div>
        <h3>Supporters</h3>
        <p>TBD</p>
    </div>


</div>

