---
layout: default
custom_css: cfp_sidebar
---

<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>VizSec 2020</h2>

<h3>Welcome to 17th IEEE Symposium on Visualization for Cyber Security</h3>

<p>VizSec 2020 will be held in conjunction with <a href="http://ieeevis.org/">IEEE
    VIS</a>. VizSec brings together
    researchers and practitioners in information
    visualization and security to address
    the specific needs of the cyber security community through new and insightful visualization techniques.</p>
<p>To register for VizSec, see the <a
        href="http://ieeevis.org/year/2020/info/registration/conference-registration">IEEE VIS registration page</a>.
</p>


<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding
    VizSec 2020.</p>

<a class="page-anchor" id="program"></a>
<h3>Program</h3>

<p>All timeslots are Mountain Time Zone (USA), UTC−07:00.</p>

<div class="program2020">
    <div id="opening" class="col-md-12">
        <div class="row"><h4>Opening, Keynote, Best Paper</h4></div>

        <div class="row slot">
            <div class="session-time">08:00 - 08:10</div>
            <div class="session-title"><strong>Opening Presentation</strong> <em class="text-muted"> by Jörn
                Kohlhammer</em></div>
        </div>

        <div class="row slot">
            <div class="session-time">08:10 - 09:00</div>
            <div class="session-title"><strong>Keynote address</strong> by <strong>Joshua Saxe</strong>,
                <em class="text-muted">Sophos</em>. Please see <a href="#keynote">below</a> for the full abstract and
                bio.
            </div>

        </div>

        <div class="row slot">
            <div class="session-time">09:00 - 09:05</div>
            <div class="session-title"><strong>Best Paper Introduction</strong> <em class="text-muted">by Marco
                Angelini</em></div>
        </div>

        <div class="row slot">
            <div class="session-time">09:05 - 09:30</div>
            <div class="session-title"><strong>Best Paper</strong> A Visualization Interface to Improve the
                Transparency of Collected Personal Data on the Internet
                <em class="text-muted">
                    by Marija Schufrin, Steven Lamarr Reynolds, Arjan Kuijper, Jörn Kohlhammer</em>
                <span class="label label-info"><i class="fa fa-trophy"></i> Best Paper, Featured in TVCG</span>
            </div>
        </div>
    </div>

    <div class="text-muted">
        <div class="session-time">09:30 - 09:45</div>
        <div class="session-title"><strong>Break</strong></div>
    </div>

    <div id="network" class="col-md-12">
        <div class="row"><h4>Network analysis and Incident response, Practitioner Talks <br/><small>moderated by Lane
            Harrison</small><br></h4></div>

        <div class="row slot">
            <div class="session-time">10:00 - 10:20</div>
            <div class="session-title">Exploratory Analysis of File System Metadata for Rapid Investigation of
                Security
                Incidents
                <em class="text-muted">by Michal Beran, František Hrdina, Daniel Kouřil, Radek Ošlejšek,
                    Kristina
                    Zakopcanova</em>
            </div>
        </div>

        <div class="row slot">
            <div class="session-time">10:20- 10:40</div>
            <div class="session-title">Improving Interpretability for Cyber Vulnerability Assessment Using Focus and
                Context
                Visualizations <em
                        class="text-muted">by Kenneth Alperin, Dr Allan Wollaber, Dr. Steven R Gomez</em></div>
        </div>

        <div class="row slot">
            <div class="session-time">10:40 - 10:50</div>
            <div class="session-title">Practitioner Talk 1 <em class="text-muted">by Leo Meyerovich
                (Graphistry)</em></div>
        </div>

        <div class="row slot">
            <div class="session-time">10:50 - 11:00</div>
            <div class="session-title">Practitioner Talk 2 <em class="text-muted">by Robert Gove (Two Six Labs)</em>
            </div>
        </div>


        <div class="row slot">
            <div class="session-time">11:00 - 11:10</div>
            <div class="session-title">Practitioner Talk 3 <em class="text-muted">by Younghoo Lee (Sophos)</em>
            </div>
        </div>

        <div class="row slot">
            <div class="session-time">11:10 - 11:30</div>
            <div class="session-title"> Q&A for Practitioners
                <em class="text-muted">by Leo Meyerovich, Robert Gove, and Younghoo
                    Lee</em>
            </div>
        </div>

    </div>


    <div class="text-muted">
        <div class="session-time">11:30 - 12:00</div>
        <div class="session-title"><strong>Break</strong></div>
    </div>

    <div id="shortpaper" class="col-md-12">
        <div class="row"><h4>Short Papers, Posters and Closing <br/> <small>moderated by Chris Bryan</small><br/></h4>
        </div>

        <div class="row slot">
            <div class="session-time">12:00 - 12:20</div>
            <div class="session-title">Visualization for Spectators in Cybersecurity
                Competitions
                <em class="text-muted">
                    by Chao Peng, David Schwartz, Daryl Johnson Johnson, Bill Stackpole, Chad Weeden, Jacob
                    Marcovecchio, Drake Richards, Chris Fogle, Christopher Brown, Victoria Walrond
                </em>
            </div>

        </div>

        <div class="row slot">
            <div class="session-time">
                12:20 - 12:35
            </div>
            <div class="session-title">Malware vs Anti-Malware Battle - Gotta
                Evade ‘em All
                <em class="text-muted">
                    by Emily J Chaffey, Dr Daniele Sgandurra
                </em></div>
        </div>

        <div class="row slot">
            <div class="session-time">12:35 - 12:50</div>
            <div class="session-title">Interpretable Visualizations of Deep Neural
                Networks for Domain Generation Algorithm
                Detection
                <em class="text-muted">
                    by Franziska Becker, Arthur Drichel, Christoph Müller, Thomas Ertl
                </em></div>
        </div>

        <div class="row slot">
            <div class="session-time">12:50 - 13:00</div>
            <div class="session-title">
                <strong>Poster Booster Session</strong> <em class="text-muted">by Sean McKenna</em></div>
        </div>

        <div class="row slot">
            <div class="session-time">13:00 - 13:10</div>
            <div class="session-title">
                <strong>Closing</strong> <em class="text-muted">by Jörn Kohlhammer</em></div>
        </div>
    </div>


    <div class="text-muted">
        <div class="session-time">13:10 - 13:30</div>
        <div class="session-title"><strong>Break</strong></div>
    </div>

</div>
<p>&nbsp;</p>

<a class="page-anchor" id="poster-session"></a>
<h3>Poster Session</h3>

<p>
    The remote, interactive poster session will be held with the main IEEE VIS poster session on Wednesday, October
    28th
    at 1:30-2:30 PM Mountain Time (USA). Accepted posters are:
</p>
<table class="program">

    <tbody>
    <tr>
        <td>

            <p>Arcus Internet Disruption Dashboard and Report
                <em class="text-muted"> by Violet Lingenfelter, Robert Gove, Chae Clark, Anthony C Wong</em>
                <a href="/files/2020/vizsec20b-sub1002-cam-i5.pdf" style="border: none; text-indent: 0em;">
                    <i class="fa fa-download"></i></a><br><br></li>
            </p>


            <p>Visualization for Cyber Security and Security Analysts’ Use of Visualizations: Is There a Gap?
                <em class="text-muted"> by Noëlle Rakotondravony, Lane Harrison </em>
                <a href="/files/2020/vizsec20b-sub1003-cam-i5.pdf" style="border: none; text-indent: 0em;">
                    <i class="fa fa-download"></i></a><br><br></li>
            </p>


            <p>Visually Evaluating Courses of Action in a Contested Network Environment
                <em class="text-muted"> by Benjamin Blease, Jaime D Peña, Kenneth Alperin, Leslie Shing, Dr Allan
                    Wollaber </em>
                <a href="/files/2020/vizsec20b-sub1005-cam-i5.pdf" style="border: none; text-indent: 0em;">
                    <i class="fa fa-download"></i></a><br><br></li>
            </p>

            </p>
        </td>
    </tr>
    </tbody>
</table>


<a class="page-anchor" id="keynote"></a>
<h3>Keynote</h3>

<img class="pull-right img-thumbnail" src="/assets/img/Josh.png" alt="Joshua Saxe"
     style="margin-left: 6px; margin-bottom: 2px;">

<h4 class="media-heading">Joshua Saxe<br/><small>Sophos</small></h4>

<h5>Where visualization fits in the new cybersecurity landscape</h5>

<p>The environment in which we practice cybersecurity has changed. Once
    the province of on-premise desktops and servers, organizations' IT
    infrastructure now consists of laptops, phones, software-as-a-service
    applications, and cloud servers, with this new environment creating new
    attack surfaces, and obviating old security technologies. Indeed, old
    product categories, like firewalls, are becoming less important, as
    traditional networks change, and new product categories, like endpoint
    detection and response products, have become central, as cybersecurity
    practitioners move to actively hunt for adversaries.
</p>
<p>
    As visual analytics researchers, we need to understand and embrace this
    emerging IT and cybersecurity paradigm, designing our programs of
    research accordingly. But how do we do this without leaving the lessons
    of three decades of cyber visual analytics research behind? And how do
    we identify enduring problems that will survive continuing change in our
    problem space? My keynote will address these questions, describing the
    direction of the security product landscape and the accompanying new
    high impact research problems our field, all while keeping a view to
    what past experience can teach us about new problems.
</p>


<h5>Biography</h5>

<p>Joshua Saxe is Chief Scientist at Sophos, where he leads the company's
    machine learning research, development, and operations. Joshua is also
    the author, with Hillary Sanders, of <i>Malware Data Science</i>, from No
    Starch Press, and is a frequent speaker at major security conferences.
    Before joining Sophos, Joshua spent 5 years leading DARPA funded
    cybersecurity research projects for the US government.</p>


<a class="page-anchor" id="scholarships"></a>
<h3>Diversity Scholarships</h3>

<p>Thanks to the generous donations of our sponsors, we are delighted to announce that we will be offering several
    <strong>VizSec 2020 Diversity Scholarship</strong> awards to help cover the costs of full week registration.</p>

<h4> Application Process </h4>

<p>VizSec attendees may apply for the scholarships at:</p>

<p><a href="http://ieeevis.org/year/2020/info/inclusion-and-diversity/diversity-scholarship">http://ieeevis.org/year/2020/info/inclusion-and-diversity/diversity-scholarship</a>
</p>

<a class="page-anchor" id="cfp"></a>
<div>
    <p>
    <h3>VizSec 2020 Call for Papers</h3>
    <p>The 17th IEEE Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together
        researchers and practitioners from academia, government, and industry to address the needs of the cyber
        security community through new and insightful visualization and analysis techniques. VizSec provides an
        excellent venue for fostering greater exchange and new collaborations on a broad range of security- and
        privacy-related topics. VizSec will be held in conjunction with IEEE VIS, on
        Wednesday, October 28th 2020. </p>
    <p>
        VizSec will take place during the main week of the IEEE VIS conference, giving VizSec authors and attendees
        enhanced access to IEEE VIS, the premier forum for advances in theory, methods, and applications of
        visualization and visual analytics. The purpose of VizSec is to explore effective and scalable visual
        interfaces
        for security domains such as
        network security, computer forensics, reverse engineering, insider threat detection, cryptography, privacy,
        user assisted attacks prevention, compliance management, wireless security, secure coding, and penetration
        testing. </p>

    <h4>Technical Papers</h4>
    <p>
        Full papers describing novel contributions in security visualization are solicited. Papers may present
        techniques, applications, theory, analysis, experiments, or evaluations. We encourage the submission of
        papers on technologies and methods that promise to improve cyber security practices, including, but not
        limited to: </p>

    <ul>
        <li> Situation awareness and/or understanding</li>
        <li> Incident handling including triage, exploration, correlation, and response</li>
        <li> Computer forensics</li>
        <li> Machine learning and explainable AI for cybersecurity</li>
        <li>Adversarial machine learning visualization</li>
        <li>Adversarial visualization</li>
        <li> Visual analytics for cybersecurity</li>
        <li> Data protection & privacy</li>
        <li> Blockchain performance & security</li>
        <li> Cybersecurity in critical infrastructure</li>
        <li> Recording and reporting results of investigations</li>
        <li> Assisting proactive security configuration and deployment</li>
        <li> Reverse engineering and malware analysis</li>
        <li> Vulnerability management</li>
        <li> Multiple data source analysis</li>
        <li> Analyzing information requirements for computer network defense</li>
        <li> Evaluation and/or user testing of VizSec systems</li>
        <li> Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal
            perspective or a human factors perspective)
        </li>
        <li> Modeling system and network behavior</li>
        <li> Modeling attacker and defender behavior</li>
        <li> Studying risk and impact of cyber attacks</li>
        <li> Predicting future attacks or targets</li>
        <li> Security metrics</li>
        <li> Software security</li>
        <li> Mobile application security</li>
        <li> Social networking privacy and security</li>
        <li> Training & educationn</li>
    </ul>

    <br/>
    <p>
        When applicable, visualization and interaction techniques that effectively capture the insights of human
        analysts
        and/or allow analysts to collaborate efficiently are particularly desirable.
    </p>
    <p>
        Submissions including tests and evaluations of existing tools and techniques are also considered
        particularly desirable. If possible, making the data used for the tests available will also be considered
        positively. If
        you do not have real-world data to demonstrate your visualization, you may be interested in looking at the
        <a
                href="https://vizsec.org/data/">VizSec dataset links</a>.
    </p>

    <h4>Short Papers</h4>
    <p>
        Short papers describing initial research results, concise research contributions or incremental work on the
        above topics, even including practical applications of security visualization, are solicited. We encourage
        the submission of papers discussing the introduction of cyber security visualizations into operational
        context, including, but not limited to: </p>
    <p>
        Cases where visualization made positive contributions towards meeting operational needs
        Gaps or negative outcomes from visualization deployments
        Situations where visualization was not utilized, but could have had a positive impact
        Lessons learned from operational engagements
        Insights gained from the transition process
        Cyber security practitioners from industry, as well as the research community, are encouraged to submit case
        studies. </p>

    <ul>
        <li>Cases where visualization made positive contributions towards meeting operational needs</li>
        <li>Gaps or negative outcomes from visualization deployments</li>
        <li>Situations where visualization was not utilized, but could have had a positive impact</li>
        <li>Lessons learned from operational engagements</li>
        <li>Insights gained from the transition process</li>
    </ul>


    <p>
        <br/>
        Cyber security practitioners from industry, as well as the research community, are encouraged to submit case
        studies.
    </p>

    <h4>Position Papers</h4>
    <p>

        This year we are introducing a new VizSec paper type of position papers. Position papers focus on topics
        needing or calling for discussion or reconsideration of forgotten topics relevant for the VizSec community.
        They should report a clear position on the target topic and should also suggest a proposal or actions
        regarding the target topic. They should stimulate imaginative and hypothesis-driven research. In particular,
        we encourage submissions both from researchers inside the visualization community and outside, such as
        researchers and practitioners from pure cybersecurity domains who currently do not broadly employ
        visualization in their work.
    </p>


    <h4>Posters</h4>
    <p>
        Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual
        representations relevant to the VizSec community. The poster program will be a great opportunity for the
        authors to interact with the attendees, potentially also through live demos, and solicit feedback. Accepted
        poster abstracts will be made available on this website. </p>

    <h4>Awards</h4>

    <p>
        There will be an award for the best paper from the accepted program. This award will be given to the paper
        judged to have the highest overall quality as determined by the program committee. Key elements of the
        selection process include whether papers include evaluation, repeatable results, and open-source data or
        software. Authors of the best paper will be invited for submission to Transactions on Visualization and
        Computer Graphics. Both full and short papers are eligible.
    </p>
    <p>

        There will also be an award for Best Poster. This award will recognize authors’ efforts to clearly present
        their work to the audience. The award will be determined by anonymous judges and given to recipients at the
        end of the conference.
    </p>


    <h4>Submissions</h4>

    <p>
        The VizSec 2020 Proceedings will be published by IEEE. Submissions must be formatted using the IEEE VGTC
        conference
        proceedings template that can be found at: <a href="http://junctionpublishing.org/vgtc/Tasks/camera.html">
        http://junctionpublishing.org/vgtc/Tasks/camera.html.</a>
    </p>

    VizSec full papers are limited to 9 pages of content plus an additional 2 pages of references. Papers may be
    shorter than this but must make a similar contribution to a longer paper. Reviewers are not required to read
    the appendices or any pages past the maximum. Short papers should be at most 4 pages plus 1 page of
    references. Position papers may be up to 4 total pages including references. Posters should be 2 page
    abstracts. </p>

    <p>
        Submissions not meeting these guidelines will be rejected without consideration of their merit. Reviews are
        single-blind, so authors may include names and affiliations in their submissions. Submitted papers must not
        substantially overlap papers that have been published or that are simultaneously submitted to a journal or a
        conference with proceedings. Authors of accepted papers must guarantee that their papers will be presented
        at the conference. </p>

    <p>VizSec uses the <a
            href="https://new.precisionconference.com/submissions">
        Precision Conference System (PCS)</a> to handle paper and poster submissions and the reviewing processes.


    </p>
</div>


<a class="page-anchor" id="submissions"></a>
<div>
    <h3>Important Dates</h3>

    <p>All deadlines are 5:00 PM PST.</p>
    <p><strong>July 22 2020 (Extended!)</strong> Submissions due for Full, Short, and Position Papers</p>
    <p><strong>August 15 2020</strong> Author notification for Full, Short, and Position Papers</p>
    <p><strong>August 31 2020</strong> Camera ready submission and copyright forms</p>
    <p><strong>August 20 2020</strong> Submissions due for Poster Abstracts</p>
    <p><strong>September 3 2020</strong> Author notification for Posters</p>
    <p><strong>October 28 2020</strong> VizSec 2020</p>
</div>


<h3>Committees</h3>

<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.y2020-organizing_committee %}
    <li>
    <span class="committee name">
      {% if member.url %}
        <a href="{{ member.url }}">{{ member.name }}</a>,
      {% else %}
        {{ member.name }},
      {% endif %}
    </span>
        <span class="committee role">{{ member.role }}</span><br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<h4>Program Committee</h4>

<ul>
    {% for member in site.data.y2020-program_committee %}
    <li>
    <span class="committee name">
      {{ member.name }}
    </span>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<a class="page-anchor" id="supporters"></a>
<div>
    <h3>Supporters</h3>

    <ul class="media-list">
        {% for supporter in site.data.y2020-supporters %}
        <li class="media">
            <a href="{{ supporter.link }}">
                <img class="media-object" src="{{ supporter.image }}" title="{{ supporter.title }}">
            </a>
            {% if supporter.job %}
            <label>Open Position: <a href="{{ supporter.job_url }}">{{ supporter.job }}</a></label>
            {% endif %}

            {% if supporter.job2 %}
            <label>Open Position: <a href="{{ supporter.job2_url }}">{{ supporter.job2 }}</a></label>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>



