---
layout: default
custom_css: cfp_sidebar
---

<h2><img alt="Magnifying glass" src="/assets/img/branding_magnifier.png" class="header-magnifier"/>VizSec 2021</h2>

<h3>Welcome to 18th IEEE Symposium on Visualization for Cyber Security</h3>

<p>VizSec 2021 will be held in conjunction with <a href="http://ieeevis.org/">IEEE
    VIS</a> on October 27, 2021. VizSec brings together
    researchers and practitioners in information
    visualization and security to address
    the specific needs of the cyber security community through new and insightful visualization techniques.</p>
<p>To register for VizSec, see the <a
        href="http://ieeevis.org/year/2021/info/registration/conference-registration">IEEE VIS registration page</a>.
</p>


<p><em>Questions?</em> Please email <a href="mailto:chair@vizsec.org">chair@vizsec.org</a> for questions regarding
    VizSec 2021.</p>

<a class="page-anchor" id="program"></a>
<h3>Program</h3>
<p>Coming soon...</p>

<a class="page-anchor" id="cfp"></a>
<h3>VizSec 2021 Call for Papers</h3>
<p>The 18th IEEE Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together researchers and
    practitioners from academia, government, and industry to address the needs of the cyber security community through new
    and insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange
    and new collaborations on a broad range of security- and privacy-related topics.
</p>
<p> VizSec will take place on October 27, 2021, in conjunction with the <a href="http://ieeevis.org/">2021 IEEE VIS conference</a>, giving VizSec authors
    and attendees enhanced access to IEEE VIS, the premier forum for advances in theory, methods, and applications of visualization
    and visual analytics. As the 2021 IEEE VIS conference will again be virtual, the VizSec program will also be
    presented in an online format with virtual presentations.
</p>
<p> The purpose of VizSec is to explore effective and scalable visual interfaces for security domains such as
    network security, computer forensics, reverse engineering, insider threat detection, cryptography, privacy,
    user assisted attacks prevention, compliance management, wireless security, secure coding, and penetration testing.
</p>

<h4>Technical Papers</h4>
<p>Full papers describing novel contributions in security visualization are solicited.
    Papers may present techniques, applications, theory, analysis, experiments, or evaluations.
    We encourage the submission of papers on technologies and methods that promise to improve cyber security practices, including, but not limited to:
</p>
<ul>
    <li>Situation awareness and/or understanding
</li><li>Incident handling including triage, exploration, correlation, and response
</li><li>Computer forensics
</li><li>Machine learning & explainable AI for cybersecurity
</li><li>Adversarial machine learning visualization
</li><li>Adversarial visualization
</li><li>Visual analytics for cybersecurity
</li><li>Data protection & privacy
</li><li>Blockchain performance & security
</li><li>Cybersecurity in critical infrastructure
</li><li>Collaborative visualization for cybersecurity & provenance
</li><li>Recording and reporting results of investigations
</li><li>Assisting proactive security configuration and deployment
</li><li>Reverse engineering and malware analysis
</li><li>Vulnerability management
</li><li>Multiple data source analysis
</li><li>Analyzing information requirements for computer network defense
</li><li>Evaluation and/or user testing of VizSec systems
</li><li>Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal perspective or a human factors perspective)
</li><li>Modeling system and network behavior
</li><li>Modeling attacker and defender behavior
</li><li>Studying risk and impact of cyber attacks
</li><li>Predicting future attacks or targets
</li><li>Security metrics
</li><li>Software security
</li><li>Mobile application security
</li><li>Social networking privacy and security
</li><li>Training & education
    </ul>
</br>
<p>Submissions including tests and evaluations of the proposed tools and techniques are also considered particularly desirable.
If possible, making the data used for the tests available will also be considered positively.
If you do not have real-world data to demonstrate your visualization, you may be interested in looking at the <a href="https://vizsec.org/data/">VizSec dataset links</a>.
Previous VizSec papers may be found on the <a href="https://vizsec.dbvis.de/">VizSec Papers Browser</a> and on IEEE Xplore.
</p>
<h4>Short Papers</h4>
<p>
Short papers describing initial research results, concise research contributions or incremental work on the above topics,
even including practical applications of security visualization, are solicited. We encourage the submission of papers discussing
the introduction of cyber security visualizations into operational context, including, but not limited to:
</p>
<ul>
    <li>Cases where visualization made positive contributions towards meeting operational needs
</li><li>Gaps or negative outcomes from visualization deployments
</li><li>Situations where visualization was not utilized, but could have had a positive impact
</li><li>Lessons learned from operational engagements
</li><li>Insights gained from the transition process
</ul>
</br>
<p>
Cyber security practitioners from industry, as well as the research community, are encouraged to submit case studies.
</p>

<h4>Position Papers</h4>
<p>
Position papers focus on topics needing or calling for discussion or reconsideration of forgotten topics relevant for the VizSec community.
They should report a clear position on the target topic and should also suggest a proposal or actions regarding the target topic.
They should stimulate imaginative and hypothesis-driven research. In particular, we encourage submissions both from researchers inside
the visualization community and outside, such as researchers and practitioners from pure cybersecurity domains who currently do not broadly
employ visualization in their work.
</p>

<h4>Posters</h4>
<p>
Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual representations
relevant to the VizSec community. In line with the full conference, the presentation of posters will take place online.
There will be 1-2 dedicated poster sessions in which poster authors can virtually meet and discuss their work with conference participants.
An additional web presence of posters will replace the traditional physical installation of poster boards. More concrete details will follow soon.
</p>

<h4>Awards</h4>
<p>
There will be an award for the best full paper from the accepted program. This award will be given to the paper judged
to have the highest overall quality as determined by the program committee. Key elements of the selection process include
whether papers include evaluation, repeatable results, and open-source data or software. Authors of the best paper will be
invited for submission to Transactions on Visualization and Computer Graphics.
</p>
<p>
There will also be an award for Best Poster. This award will recognize authors’ efforts to clearly present their work to the audience.
The award will be determined by anonymous judges and given to recipients at the end of the conference.
</p>
<h4>Submissions</h4>
<p>The VizSec 2021 Proceedings will be published by IEEE. Submissions must be formatted using the IEEE VGTC conference proceedings
template that can be found at: <a href="https://tc.computer.org/vgtc/publications/conference/">https://tc.computer.org/vgtc/publications/conference/</a>
</p>
<p>
VizSec full papers are limited to 9 pages of content plus an additional 2 pages of references.
Papers may be shorter than this but must make a similar contribution to a longer paper.
Reviewers are not required to read the appendices or any pages past the maximum. Short papers should be at most 4 pages plus 1 page of references.
Position papers may be up to 4 total pages including references. Posters should be 2 page abstracts.
Presenters are also encouraged to submit an accompanying video or other supplementary materials by following the IEEE VIS formatting guidelines.
</p>
<p>
Submissions not meeting these guidelines will be rejected without consideration of their merit.
Reviews are single-blind, so authors may include names and affiliations in their submissions.
Submitted papers must not substantially overlap papers that have been published or that are simultaneously submitted
to a journal or a conference with proceedings. Authors of accepted papers must guarantee that their papers will be presented at the conference.
</p>
<p>
Go to <a href="https://new.precisionconference.com/vgtc" target="_blank">https://new.precisionconference.com/submissions</a>, then making a new submission to Society: VGTC, Conference/Journal: VIS 2021, Track: VIS 2021 Visualization for Cyber Security (VizSec)
</p>
<a class="page-anchor" id="submissions"></a>
<div>
    <h3>Important Dates</h3>
    <p>All deadlines are 5:00 PM PST.</p>
    <p><strong>Paper deadlines:</strong> <span class="underline" style="font-weight: bold">Extended!</span></p>
    <p><strong><span style="display: inline-block; width: 120px; text-decoration: line-through">June 21, 2021</span></strong>
        <strong><span style="display: inline-block; width: 140px;">June 28, 2021</span></strong>Submission deadline for full, short, and position papers</p>
    <p><strong><span style="display: inline-block; width: 120px; text-decoration: line-through">July 19, 2021</span></strong>
        <strong><span style="display: inline-block; width: 140px;">July 26, 2021</span></strong>Author notifications</p>
    <p><strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Aug 9, 2021</span></strong>
        <strong><span style="display: inline-block; width: 140px;">Aug 16, 2021</span></strong>Camera ready submissions and copyright forms due</p>
    <p><strong>Poster deadlines:</strong> <span class="underline" style="font-weight: bold">Extended!</span></p>
    <p><strong><span style="display: inline-block; width: 120px; text-decoration: line-through">July 29, 2021</span></strong>
        <strong><span style="display: inline-block; width: 140px;">Aug 02, 2021</span></strong>Submission deadline for posters</p>
    <p><strong><span style="display: inline-block; width: 120px; text-decoration: line-through">Aug 9, 2021</span></strong>
        <strong><span style="display: inline-block; width: 140px;">Aug 16, 2021</span></strong>Author notifications</p>
    <p>VizSec will be held on <strong>October 27, 2021</strong>.</p>
</div>


<h3>Committees</h3>

<h4>Organizing Committee</h4>
<ul>
    {% for member in site.data.y2021-organizing_committee %}
    <li>
    <span class="committee name">
      {% if member.url %}
        <a href="{{ member.url }}">{{ member.name }}</a>,
      {% else %}
        {{ member.name }},
      {% endif %}
    </span>
        <span class="committee role">{{ member.role }}</span><br>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<h4>Program Committee</h4>

<ul>
    {% for member in site.data.y2021-program_committee %}
    <li>
    <span class="committee name">
      {{ member.name }}
    </span>
        <span class="committee affiliation">{{ member.affiliation }}</span>
    </li>
    {% endfor %}
</ul>


<a class="page-anchor" id="supporters"></a>
<div>
    <h3>Supporters</h3>

    <ul class="media-list">
        {% for supporter in site.data.y2021-supporters %}
        <li class="media">
            <a href="{{ supporter.link }}">
                <img class="media-object" src="{{ supporter.image }}" title="{{ supporter.title }}">
            </a>
            {% if supporter.job %}
            <label>Open Position: <a href="{{ supporter.job_url }}">{{ supporter.job }}</a></label>
            {% endif %}

            {% if supporter.job2 %}
            <label>Open Position: <a href="{{ supporter.job2_url }}">{{ supporter.job2 }}</a></label>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>



