- var modifyDate = 'July 24, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Page Not Found

    section
      p The page you are looking for is no longer available, most likely due to the redsign of the entire site,  
        a(href='http://vizsec.org/') http://vizsec.org/

    h3 Return to the 
      a(href='http://vizsec.org/') vizsec home page.
          
    include includes/foot