!!!
head
  meta(HTTP-EQUIV='REFRESH', content='2; url=http://www.ornl.gov/~ojg/')
body
  p This page has permanently moved to <a href='http://www.ornl.gov/~ojg/'>http://www.ornl.gov/~ojg/</a>
  p You will automatically be redirected.