- var modifyDate = 'May 2, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 VizSec 2007
        small.hidden-phone  Symposium on Visualization for Cyber Security
      h1.visible-phone
        small Symposium on Visualization for Cyber Security
      p Sacramento, CA, USA <br class='visible-phone' /><span class='hidden-phone'>&nbsp; / &nbsp;</span> October 29, 2007
      p In conjunction with <a href='http://vis.computer.org/vis2007/'>VisWeek 2007</a>
  
    section#welcome
      .page-header
        h2 Welcome to VizSec 2007
      p The 4th International Workshop on Visualization for Cyber Security was held in Sacramento, CA, USA on October 29, 2007. VizSec brought together researchers and practitioners in information visualization and security to address the specific needs of the cyber security community through new and insightful visualization techniques.
      p VizSec was held in conjunction with <a href='http://vis.computer.org/vis2007/'>VisWeek</a>.
      p The proceedings are in <a href="http://www.springeronline.com/978-3-540-85931-4">Springer Online</a> and <a href="http://www.springerlink.com/content/978-3-540-85931-4/">Springer Link</a>.

    section#program
      .page-header
        h2 Program
        
      h3 Papers
      dl.paper-list
        dt J.R. Goodall
        dd "Introduction to Visualization for Computer Security" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_1'>paper link</a>

        dt A. D'Amico and K. Whitley
        dd "The Real Work of Computer Network Defense Analysts: The Analysis Roles and Processes that Transform Network Data into Security Situation Awareness" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_2'>paper link</a>
                
        dt J. Stoll, D. McColgin, M. Gregory, V. Crow and W. K. Edwards
        dd "Adapting Personas for Use in Security Visualization Design" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_3'>paper link</a>
                
        dt X. Suo, Y. Zhu and G. Scott Owen
        dd "Measuring the Complexity of Computer Security Visualization Designs" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_4'>paper link</a>
                
        dt T. H. Yu, B. W. Fuller, J. H. Bannick, L. M. Rossey and R. K. Cunningham
        dd "Integrated Environment Management for Information Operations Testbeds" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_5'>paper link</a>
                
        dt D. Phan, J. Gerth, M. Lee, A. Paepcke and T. Winograd
        dd "Visual Analysis of Network Flow Data with Timelines and Event Plots" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_6'>paper link</a>
                
        dt T. Taylor, S. Brooks and J. McHugh
        dd "NetBytes Viewer: An Entity-Based NetFlow Visualization Utility for Identifying Intrusive Behavior" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_7'>paper link</a>
                
        dt D. Lalanne, E. Bertini, P. Hertzog and P. Bados
        dd "Visual Analysis of Corporate Network Intelligence: Abstracting and Reasoning on Yesterdays for Acting Today" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_8'>paper link</a>

        dt J. Pearlman and P. Rheingans
        dd "Visualizing Network Security Events Using Compound Glyphs from a Service-Oriented Perspective" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_9'>paper link</a>

        dt B. Irwin and N. Pilkington
        dd "High Level Internet Scale Traffic Visualization Using Hilbert Curve Mapping" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_10'>paper link</a>

        dt S. Foresti and J. Agutter
        dd "VisAlert: From Idea to Product" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_11'>paper link</a>

        dt D. Schweitzer, L. Baird and W. Bahn
        dd "Visually Understanding Jam Resistant Communication" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_12'>paper link</a>

        dt F. Mansman, L. Meier and D. A. Keim
        dd "Visualization of Host Behavior for Network Security" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_13'>paper link</a>

        dt W. A. Pike, C. Scherrer and S. Zabriskie
        dd "Putting Security in Context: Visual Correlation of Network Activity with Real-World Information" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_14'>paper link</a>

        dt L. Williams, R. Lippmann and K. Ingols
        dd "An Interactive Attack Graph Cascade and Reachability Display" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_15'>paper link</a>

        dt C. Muelder, L. Chen, R. Thomason, K. -L. Ma and T. Bartoletti
        dd "Intelligent Classification and Visualization of Network Scans" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_16'>paper link</a>

        dt B. Irwin and J. -P. van Riel
        dd "Using InetVis to Evaluate Snort and Bro Scan Detection on a Network Telescope" <a href='http://dx.doi.org/10.1007/978-3-540-78243-8_17'>paper link</a>

      h3 Invited Speaker
      h4 Stefano Foresti
      p <strong>Visalert: From Idea to Product</strong>
      p <a href=''>slides</a>
      p Visalert is a visualization system designed to increase situational awareness and increased analysis abilities for monitoring network events: it enables to access data from multiple databases, correlate who, what, when and where, and zoom in-out information of interest. This presentation will describe the interdisciplinary user centered process to research, design and develop a technology to meet user needs. This includes direct examples and lessons learned interacting with the domain experts and users, the visual design iterations that evolved in the final metaphor, and the issues to consider in the process of evaluating and transfering technology to the end users.
      
      h3 Invited Speaker
      h4 Anita D'Amico and Kirsten Whitley. 
      p <strong>The Real Work of Information Assurance Analysts</strong>
      p <a href=''>slides</a>
      p This talk will cover three of the findings of a cognitive task analysis (CTA) of computer network defense (CND) analysts: 1) the hierarchy of data that is transformed through the analytical process from data into security situational awareness; 2) the definition and description of different roles of CND analysis; and 3) the workflow that analysts and analytical organizations engage in to process raw network data into meaningful security incidents. These CTA findings have implications for designing visualizations to improve the work processes and decision making of CND analysts. The findings also guided the design and development of VIAssist, a visual analytics system developed for and under evaluation by the CND community.

    section#cfp
      .page-header
        h2 Call for Papers
      p The VizSec 2007 Workshop on Visualization for Computer Security will provide a forum for new research in visualization for computer security. Building on the success of the previous three VizSEC workshops, we will again be meeting in conjunction with the IEEE Vis and InfoVis Conferences. The workshop will be held in Sacramento, CA USA on October 29, 2007.
      p Networked computers are increasingly ubiquitous, and they are subject to attack, misuse, and abuse. Every effort is being made by organizations and individuals to build and maintain trustworthy computing systems. Traditional, signature-based and statistical methods are limited in their capability to cope with the large, evolving data and the dynamic nature of Internet. In many applications, visualization proves very effective to understand large high-dimensional data. Thus, there is a growing interest in the development of visualization methods as alternative or complementary solutions to the pressing cyber security problems.
      p As a result of previous VizSec workshops, we have seen both the application of existing visualization techniques to security problems and the development of novel security visualization approaches. However, while security visualization research has addressed the development of applications there has only been limited coverage of user needs and designing visualization to support those needs. To address this shortcoming, the theme of this year's workshop will be on applying user-centered design to VizSec research, focusing on integrating users' needs, visualization design, and evaluation. This year's workshop will be an incubator for new ideas related to security visualization, a forum for garnering feedback from peers, and a place to identify and meet potential collaborators.

      h3 Technical Papers
      p We solicit papers that report results on visualization techniques and systems in solving all aspects of cyber security problems. Topics include, but are not limited to:
      ul
        li Visualization of Internet routing for security
        li Visualization of packet traces and network flows for security
        li Visualization of security vulnerabilities and attack paths
        li Visualization of intrusion detection alerts
        li Visualization of application processes for security
        li Visualization for forensic analysis
        li Visualization for correlating events
        li Visualization for computer network defense training
        li Visualization for offensive information operations
        li Visualization for feature selection
        li Visualization for detecting anomalous activity
        li Deployment and field testing of VizSEC systems
        li Evaluation and user testing of VizSEC systems
        li User and design requirements for VizSEC systems
        li Lessons learned from VizSEC systems development and deployment
      p All submitted papers will be peer-reviewed. Accepted papers will be eligible to be published in an edited book by Springer after the workshop.
      
    section#com
      .page-header
        h2 Committee
      dl
        dt General Chair
        dd John Goodall, Secure Decisions division of Applied Visions Inc.
        dt Program Co-Chairs
        dd Gregory Conti, United States Military Academy
        dd Kwan-Liu Ma, University of California at Davis

      h4 Program Committee
      ul
        li Kulsoom Abdullah, Georgia Institute of Technology
        li Jim Agutter, University of Utah
        li Stefan Axelsson, Blekinge Institute of Technology
        li Anita D'Amico, Secure Decisions
        li Glenn Fink, Pacific Northwest National Laboratory
        li Deborah Frincke, Pacific Northwest National Laboratory
        li John Gerth, Stanford University
        li Patrick Hertzog, NEXThink S.A.
        li Kiran Lakkaraju, University of Illinois at Urbana-Champaign
        li Yarden Livnat, University of Utah
        li Raffael Marty, Splunk
        li Daniel Keim, University of Konstanz
        li Stephen North, AT&amp;T Research
        li Penny Rheingans, UMBC
        li Walt Tirenin, Air Force Research Laboratory
        li Soon Tee Teoh, San Jose State University
        li Kirsten Whitley, Department of Defense

    section#sponsor
      .page-header
        h2 Sponsors
      h3 National Information Assurance Research Laboratory
      
    include includes/foot