- var modifyDate = 'May 2, 2012'

include ../includes/head
body
  include ../includes/nav
  .container
    header.hero-unit
      h1 VizSec 2006
        small.hidden-phone  Symposium on Visualization for Cyber Security
      h1.visible-phone
        small Symposium on Visualization for Cyber Security
      p Washington, DC, USA <br class='visible-phone' /><span class='hidden-phone'>&nbsp; / &nbsp;</span> November 3, 2006
      p In conjunction with <a href='http://www.sigsac.org/ccs/CCS2006/'>ACM CCS</a>
  
    section#welcome
      .page-header
        h2 Welcome to VizSec 2006
      p The 4th International Workshop on Visualization for Cyber Security was held in Washington, DC, USA on November 3, 2006. VizSec brought together researchers and practitioners in information visualization and security to address the specific needs of the cyber security community through new and insightful visualization techniques.
      p VizSec was held in conjunction with the <a href='http://www.sigsac.org/ccs/CCS2006/'>13th ACM Computer and Communications Security Conference (CCS)</a>.
      p The proceedings are in the <a href="http://dl.acm.org/citation.cfm?id=1179576">ACM Digital Library</a>.

    section#program
      .page-header
        h2 Program
        
      h3 Papers
      dl.paper-list
        dt S. Mathew, R. Giomundo, S. Upadhyaya, M. Sudit, A. Stotz
        dd "Understanding multistage attacks by attack-track based visualization of heterogeneous event streams" <a href='http://dx.doi.org/10.1145/1179576.1179578'>paper link</a>

        dt L. Li, P. Liu, G. Kesidis
        dd "Visual toolkit for network security experiment specification and data analysis" <a href='http://dx.doi.org/10.1145/1179576.1179579'>paper link</a>

        dt Asaf Shabtai, Denis Klimov, Yuval Shahar, Yuval Elovici
        dd "An intelligent, interactive tool for exploration and visualization of time-oriented security data" <a href='http://dx.doi.org/10.1145/1179576.1179580'>paper link</a>

        dt Pin Ren, John Kristoff, Bruce Gooch
        dd "Visualizing DNS traffic" <a href='http://dx.doi.org/10.1145/1179576.1179582'>paper link</a>

        dt Warren Harrop, Grenville Armitage
        dd "Real-time collaborative network monitoring and control using 3D game engines for representation and interaction" <a href='http://dx.doi.org/10.1145/1179576.1179583'>paper link</a>

        dt Charles V. Wright, Fabian Monrose, Gerald M. Masson
        dd "Using visual motifs to classify encrypted traffic" <a href='http://dx.doi.org/10.1145/1179576.1179584'>paper link</a>

        dt Weichao Wang, Aidong Lu
        dd "Visualization assisted detection of sybil attacks in wireless networks" <a href='http://dx.doi.org/10.1145/1179576.1179585'>paper link</a>

        dt Kulsoom Abdullah, John A. Copeland
        dd "Tool update: high alarm count issues in IDS rainstorm" <a href='http://dx.doi.org/10.1145/1179576.1179587'>paper link</a>

        dt William Yurcik
        dd "Tool update: visflowconnect-IP with advanced filtering from usability testing" <a href='http://dx.doi.org/10.1145/1179576.1179588'>paper link</a>

        dt William Yurcik
        dd "Tool update: NVisionIP improvements (difference view, sparklines, and shapes)" <a href='http://dx.doi.org/10.1145/1179576.1179589'>paper link</a>

        dt Pin Ren
        dd "Ensuring the continuing success of vizsec" <a href='http://dx.doi.org/10.1145/1179576.1179591'>paper link</a>

        dt Jon Oberheide, Manish Karir, Dionysus Blazakis
        dd "VAST: visualizing autonomous system topology" <a href='http://dx.doi.org/10.1145/1179576.1179592'>paper link</a>

        dt Soon Tee Teoh, Supranamaya Ranjan, Antonio Nucci, Chen-Nee Chuah
        dd "BGP eye: a new visualization tool for real-time detection and analysis of BGP anomalies" <a href='http://dx.doi.org/10.1145/1179576.1179593'>paper link</a>

        dt Dino Schweitzer, Leemon Baird
        dd Discovering an RC4 anomaly through visualization" <a href='http://dx.doi.org/10.1145/1179576.1179595'>paper link</a>

        dt Patrick Hertzog
        dd "Visualizations to improve reactivity towards security incidents inside corporate networks" <a href='http://dx.doi.org/10.1145/1179576.1179596'>paper link</a>

        dt Christopher P. Lee, John A. Copeland
        dd "Flowtag: a collaborative attack-analysis, reporting, and sharing tool for security researchers" <a href='http://dx.doi.org/10.1145/1179576.1179597'>paper link</a>

        dt Amanda L. Stephano, Dennis P. Groth
        dd "USEable security: interface design strategies for improving security" <a href='http://dx.doi.org/10.1145/1179576.1179598'>paper link</a>

        dt George Yee
        dd "Visualization for privacy compliance" <a href='http://dx.doi.org/10.1145/1179576.1179599'>paper link</a>

        dt Erwan Le Malécot, Masayoshi Kohara, Yoshiaki Hori, Kouichi Sakurai
        dd "Interactively combining 2D and 3D visualization for network traffic monitoring" <a href='http://dx.doi.org/10.1145/1179576.1179600'>paper link</a>

    section#com
      .page-header
        h2 Committee
      dl
        dt General Chair
        dd Bill Yurcik,NCSA
        dt Program Co-Chairs
        dd Stefan AxelssonChalmers University, Sweden
        dd Kiran LakkarajuUniversity of Illinois
        dd Soon Tee TeohSan Jose State University

      h4 Program Committee
      ul
        li Cristina Abad (Escuela Superior Politenica del Litoral, Ecuador) 
        li Gail-Joon Ahn (University of North Carolina at Charlotte, USA) 
        li Edward Balas (Indiana University, USA)
        li Emilie Barse (Combitech Systems, Sweden)
        li Ratna Bearavolu (Altarum, USA)
        li Bill Cheswick (Lumeta, USA)
        li Greg Conti (US Military Academy at West Point, USA)
        li John Copeland (Georgia Tech, USA)
        li Stephen Eick (University of Illinois-Chicago & SSS Research, USA) 
        li Robert Erbacher (Utah State University, USA)
        li Cristian Estan (University of Wisconsin at Madison, USA)
        li Glen Fink (Virginia Tech, USA)
        li Deborah Frincke (Pacific Northwest National Laboratory, USA) 
        li Carrie Gates (CA Labs, USA)
        li Jiawei Han (University of Illinois, USA)
        li T. J. Jankun-Kelly (Mississippi State University, USA)
        li James Joshi (University of Pittsburgh, USA)
        li Hideki Koike (University of Electro-Communications, Japan)
        li Paul Krystosek (Lawrence Livermore National Laboratory, USA) 
        li Vipin Kumar (University of Minnesota, USA)
        li H&aring;kan Kvarnstr&ouml;m (TeliaSonera Research, Sweden)
        li Mohit Lad (University of California at Los Angeles, USA) 
        li Kwan-Liu Ma (University of California at Davis, USA)
        li David Marchette (US Naval Surface Warfare Center, USA) 
        li John McHugh (Dalhousie University, Canada)
        li Steven Noel (George Mason University, USA)
        li Chris North (Virginia Tech, USA)
        li Stephen North (AT&amp;T Labs, USA)
        li A. L. Narasimha Reddy (Texas A&amp;M, USA)
        li John S. Quarterman (InternetPerils, USA)
        li Pin Ren (Northwestern University, USA)
        li Greg Schmidt (Naval Research Laboratory, USA)
        li Ben Shneiderman (University of Maryland, USA)
        li Paul Stanton (US Military Academy at West Point, USA) 
        li John Stasko (Georgia Tech, USA)
        li Michael Twidale (University of Illinois, USA)
        li Alfonso Valdes (SRI, USA)
        li Jun Wang (NCSA, USA)
        li Edward Wegman (George Mason University, USA)
        li Felix Wu (University of California at Davis, USA)
        li Xiaoxin Yin (University of Illinois, USA)
        li Lixia Zhang (University of California at Los Angeles, USA)

    include ../includes/foot