.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='./') VizSec 
      .nav-collapse
        ul.nav
          li: a(href='./#cfp') Call for Papers
          li: a(href='./#sub') Submissions
          li: a(href='./#dat') Dates
          li: a(href='./#hot') Hotel
          li: a(href='./#com') Committee
        ul.nav.pull-right
          li: a(href='./past.html')
            i.icon-calendar.icon-white
            span &nbsp; Past Events
          li: a(href='http://lists.vizsec.org/mailman/listinfo/info_lists.vizsec.org')
            i.icon-envelope.icon-white
            span &nbsp; Mailing List
          li: a(href='./about.html')
            i.icon-info-sign.icon-white
            span &nbsp; About