- var modifyDate = 'April 25, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Past VizSec Events 

    section#2011
      .page-header
        h2 2011

    section#2010
      .page-header
        h2 2010

    section#2009
      .page-header
        h2 2009

    section#2008
      .page-header
        h2 2008
