- var modifyDate = 'April 26, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Committee Roles
      p Roles and Responsibilities for members of the organizing committee
      
    section#chair
      .page-header
        h2 Chair
      ul
        li Put together the Organizing Committee
        li Coordinate with event/organization that VizSec is co-locate with 
        li Set up budget
        li Publicize on mailing lists, online calendars, blogs, social media
        li Bring in sponsors
        li Find a keynote speaker

    section#programchair
      .page-header
        h2 Program Chair
      ul
        li Put together the Program Committee
        li Write Call for Papers
        li Set up reviewing site (<a href='http://www.easychair.org/'>easychair</a>)
        li Assign reviewers (at least 3 per paper)
        li Determine the accepted papers based on reviews
        li Notify authors of acceptance/rejection
        li Determine program schedule
        li Chair the program onsite

    section#publicationchair
      .page-header
        h2 Publication Chair
      ul
        li Set up agreement with ACM for proceedings in the <a href='https://www.acm.org/publications/icp_series'>International Conference Proceedings Series</a>, including free access for two weeks prior
        li Get copyrights from authors for all accepted papers
        li Collect camera ready papers from authors
        li Check formatting of papers, fix minor issues, communicate to authors
        li Generate frontmatter for proceedings <a href='https://www.acm.org/publications/icps-instructions/'>(instructions)</a>
        li Send papers on to ACM

    section#webmaster
      .page-header
        h2 Webmaster
      ul
        li Update site with organizing and program committee
        li Update site with CFP
        li Update site with program schedule
      
    include includes/foot