!!! 5
//[if lt IE 7 ]> <html class="no-js ie6 oldie" lang="en"> <![endif]
//[if IE 7 ]>    <html class="no-js ie7 oldie" lang="en"> <![endif]
//[if IE 8 ]>    <html class="no-js ie8 oldie" lang="en"> <![endif]
//[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]
- var modifyDate = 'April 25, 2012'
- var eventDate = 'October 14 or 15, 2012'
- var eventLocation = 'Seattle, WA, USA'
- var year = 2012
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title VizSec #{year}
  meta(name='description', content='VizSec #{year} Symposium on Visualization for Cyber Security')
  meta(name='keywords', content='vizsec, secvis, visualization, visualisation, InfoVis, Vis, Viz, Computer, Security, CyberSecurity, Security Visualization, conference, Symposium')
  meta(name='date', content=#{modifyDate})
  meta(name='author', content='John Goodall')
  meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
  link(rel='stylesheet', href='css/style.min.css')
  
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') VizSec
        .nav-collapse
          ul.nav
            li: a(href='index.html#cfp') Call for Papers
            li: a(href='index.html#sub') Submissions
            li: a(href='index.html#dat') Dates
            li: a(href='index.html#hot') Hotel
            li: a(href='index.html#com') Committee
            li: a(href='index.html#con') Contact

  .container
    header.hero-unit
      h1 Organizing Committee 
      p Roles and Responsibilities for members of the organizing committee
      
    section#chair
      .page-header
        h2 Chair
      ul
        li Put together the Organizing Committee
        li Coordinate with event/organization that VizSec is co-locate with 
        li Set up budget
        li Publicize on mailing lists, online calendars, blogs, social media
        li Bring in sponsors
        li Find a keynote speaker

    section#programchair
      .page-header
        h2 Program Chair
      ul
        li Put together the Program Committee
        li Write Call for Papers
        li Set up reviewing site (easychair)
        li Assign reviewers
        li Determine the accepted papers based on reviews
        li Notify authors of acceptance/rejection
        li Determine program schedule
        li Chair the program onsite

    section#publicationchair
      .page-header
        h2 Publication Chair
      ul
        li Set up agreement with ACM for proceedings in the <a href='https://www.acm.org/publications/icp_series'>International Conference Proceedings Series</a>, including free access for two weeks prior
        li Get copyrights from authors for all accepted papers
        li Collect camera ready papers from authors
        li Check formatting of papers, fix minor issues, communicate to authors
        li Generate frontmatter for proceedings <a href='https://www.acm.org/publications/icps-instructions/'>(instructions)</a>
        li Send papers on to ACM

    section#webmaster
      .page-header
        h2 Webmaster
      ul
        li Update site with organizing and program committee
        li Update site with CFP
        li Update site with program schedule