- var modifyDate = 'April 25, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 VizSec Steering Committee
      
    section#members
      .page-header
        h2 Members
      ul
        li <a href='http://www.ornl.gov/~ojg/'>John Goodall</a>, Oak Ridge National Laboratory, Chair
        li <a href='http://www.gregconti.com/'>Gregory Conti</a>, US Military Academy, West Point
        li Deborah Frincke, US Department of Defense
        li <a href='http://www.ca.com/us/about-us/Innovation/ca-labs/people/gates.aspx'>Carie Gates</a>, CA Labs
        li <a href='http://graphics.stanford.edu/~gerth/'>John Gerth</a>, Stanford University
        li <a href='http://www.cs.ucdavis.edu/~ma/'>Kwan-Liu Ma</a>, University of California at Davis
        

    include includes/foot