!!!
head
  meta(HTTP-EQUIV='REFRESH', content='2; url=http://jgoodall.me/')
body
  p This page has permanently moved to <a href='http://jgoodall.me/'>http://jgoodall.me/</a>
  p You will automatically be redirected.