- var modifyDate = 'May 2, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Past Events 

    section#explore
      p Explore <a href="http://vizsec.dbvis.de/">VizSec Papers</a>, a visualization for browsing and searching VizSec papers, created by <a href="http://ff.cx/">Fabian Fischer</a>.

      section#2015
        .page-header
          h2 <a href='./vizsec2015/'>VizSec 2015</a>
        p VizSec 2015: IEEE Symposium on Visualization for Cyber Security (VizSec), with <a href='http://ieeevis.org/year/2015/info/vis-welcome/welcome'>IEEE VIS</a>
        p Chicago, Illinois, USA / October 26, 2015
        p Acceptance Rates: 11/34 (32%)
        p Proceedings (IEEE): <a href='http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=7310645'>Proceedings of the 2015 IEEE Symposium on Visualization for Cyber Security (VizSec)</a>

    section#2014
      .page-header
        h2 <a href='./vizsec2014/'>VizSec 2014</a>
      p VizSec 2014: 11th Workshop on Visualization for Cyber Security, with <a href='http://ieeevis.org/year/2014/info/vis-welcome/welcome'>IEEE VIS</a>
      p Paris, France / November 10, 2014
      p Acceptance Rates: 12/43 (28%)
      p Proceedings (ACM): <a href='http://dl.acm.org/citation.cfm?id=2671491'>Proceedings of the Eleventh Workshop on Visualization for Cyber Security</a>

    section#2013
      .page-header
        h2 <a href='./vizsec2013/'>VizSec 2013</a>
      p VizSec 2013: 10th Workshop on Visualization for Cyber Security, with <a href='http://ieeevis.org/year/2013/info/call-participation/welcome'>IEEE VIS</a>
      p Atlanta GA, USA / October 14, 2013
      p Acceptance Rates: 9 / 30 (30%)
      p Proceedings (ACM): <a href='http://dl.acm.org/citation.cfm?id=2517957'>Proceedings of the Tenth Workshop on Visualization for Cyber Security</a>

    section#2012
      .page-header
        h2 <a href='./vizsec2012/'>VizSec 2012</a>
      p VizSec 2012: 9th International Symposium on Visualization for Cyber Security, with <a href='http://ieeevis.org/year/2012/info/call-participation/welcome'>IEEE Vis Week</a>
      p Seattle, WA, USA / October 15, 2012
      p Acceptance Rates: 12 / 21 (57%)
      p Proceedings (ACM): <a href='http://dl.acm.org/citation.cfm?id=2379690'>Proceedings of the Ninth International Symposium on Visualization for Cyber Security</a>

    section#2011
      .page-header
        h2 <a href='./vizsec2011/'>VizSec 2011</a>
      p VizSec 2011: 8th International Symposium on Visualization for Cyber Security, with <a href='http://cups.cs.cmu.edu/soups/'>SOUPS</a>
      p Pittsburgh, PA, USA / July 20, 2011
      p Acceptance Rates: 6 / 11 (55%)
      p Proceedings (ACM): <a href='http://dl.acm.org/citation.cfm?id=2016904'>Proceedings of the 8th International Symposium on Visualization for Cyber Security</a>

    section#2010
      .page-header
        h2 <a href='./vizsec2010/'>VizSec 2010</a>
      p VizSec 2010: 7th International Symposium on Visualization for Cyber Security, with <a href='http://www.raid-symposium.org/'>RAID</a>
      p Ottawa, ON, Canada / September 14, 2010
      p Acceptance Rates: 12 / 27 (44%) - Full papers: 8 / 15, Short papers: 4 / 12
      p Proceedings (ACM): <a href='http://dl.acm.org/citation.cfm?id=1850795'>Proceedings of the Seventh International Symposium on Visualization for Cyber Security</a>

    section#2009
      .page-header
        h2 <a href='./vizsec2009/'>VizSec 2009</a>
      p VizSec 2009: 6th International Workshop on Visualization for Cyber Security, with <a href='http://visweek.org/'>IEEE Vis Week</a>
      p Atlantic City, NJ, USA / October 11, 2009
      p Acceptance Rates: 10 / 23 (43%) - Full papers: 4 / 10, Short papers: 6 / 13
      p Proceedings (IEEE): <a href='http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=5368324'>Proceedings of the 6th International Workshop on Visualization for Cyber Security</a>
    
    section#2008
      .page-header
        h2 <a href='./vizsec2008/'>VizSec 2008</a>
      p VizSec 2008: 5th International Workshop on Visualization for Cyber Security, with <a href='http://www.raid-symposium.org/'>RAID</a>
      p Cambridge, MA, USA / September 15, 2008
      p Acceptance Rates: 18 / 27 (67%) - Full papers: 8 / 11, Short papers: 10 / 16
      p Proceedings (Springer): <a href='http://www.springerlink.com/content/978-3-540-85931-4'>Proceedings of the 5th International Workshop on Visualization for Computer Security</a>
            
    section#2007
      .page-header
        h2 <a href='./vizsec2007/'>VizSec 2007</a>
      p VizSec 2007: 4th International Workshop on Visualization for Cyber Security, with <a href='http://visweek.org/'>IEEE Vis Week</a>
      p Sacramento, CA, USA / October 29, 2007
      p Acceptance Rates: 14 / 16 (88%)
      p Proceedings (Springer): <a href='http://www.springerlink.com/content/978-3-540-78243-8'>Proceedings of the Workshop on Visualization for Computer Security</a>
    
    section#2006
      .page-header
        h2 <a href='./vizsec2006/'>VizSec 2006</a>
      p VizSec 2006: 3rd International Workshop on Visualization for Cyber Security, with <a href='http://www.sigsac.org/ccs.html'>ACM CCS</a>
      p Washington, DC, USA / November 3, 2006
      p Proceedings (ACM): <a href='http://dl.acm.org/citation.cfm?id=1179576'>Proceedings of the 3rd international workshop on Visualization for computer security</a>
    
    section#2005
      .page-header
        h2 VizSec 2005
      p VizSec 2005: 2nd International Workshop on Visualization for Cyber Security, with <a href='http://visweek.org/'>IEEE Vis Week</a>
      p Minneapolis, MN, USA / October 26, 2005
      p <a href='http://www.cs.ucdavis.edu/~ma/VizSEC05/'>web site</a>
      p Proceedings (IEEE): <a href='http://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=10259'>Proceedings of the 2005 IEEE Workshop on Visualization for Computer Security (VizSec 05)</a>
    
    section#2004
      .page-header
        h2 VizSec 2004
      p Workshop on Visualization and Data Mining for Computer Security, with <a href='http://www.sigsac.org/ccs.html'>ACM CCS</a>
      p Washington, DC, USA / October 29, 2004
      p <a href='http://www.cs.fit.edu/~pkc/vizdmsec04/'>web site</a>
      p Proceedings (ACM): <a href='http://dl.acm.org/citation.cfm?id=1029208'>Proceedings of the 2004 ACM workshop on Visualization and data mining for computer security</a>

    include includes/foot
