- var modifyDate = 'April 26, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Publicity

    section#lists
      .page-header
        h2 Mailing Lists
      ul
        li <a href='http://lists.vizsec.org/mailman/listinfo/info_lists.vizsec.org'>VizSEC</a> - info@lists.vizsec.org
        li <a href='http://www.infovis.org/mailman/listinfo/infovis'>Infovis</a> - infovis@infovis.org
        li FloCommunity mailing list - flocommunity@cert.org
        li <a href='https://dlist.server.uni-frankfurt.de/mailman/listinfo/ifip-tc11'>IFIP TC 11</a> - ifip-tc11@dlist.uni-frankfurt.de
        li <a href='http://research.cs.wisc.edu/dbworld/'>DBWorld</a>
        li <a href='https://lists.cs.columbia.edu/mailman/listinfo/tccc'>IEEE ComSoc Technical Committee on Computer Communications</a>
        li Spafford's list: ias-opportunities@cerias.purdue.edu
        
    section#websites
      .page-header
        h2 Web Sites
      ul
        li <a href="http://securityconferences.net/">Computer Security Conferences</a>
        li <a href="http://wikicfp.com/cfp/">WikiCFP</a>
        li <a href='http://confcal.vrvis.at/'>VRVis</a> (email step@vrvis.at)
        li <a href='http://www.infovis-wiki.net/'>Infovis-Wiki</a> (wiki)
        li <a href='http://secviz.org/'>SecViz.org</a> (form)
        li <a href='http://graphicsconferences.wikidot.com/upcoming-conferences/'>Computer Graphics Conferences Wiki</a> (email beovar at gmail.com to add conference)
        li <a href='http://www.acm.org/conferences'>ACM</a> (form)
        li <a href='http://www.computer.org/conferences/calendar.htm'>IEEE</a> (email calendar@computer.org)
        li <a href='http://www.ieee-security.org/Calendar/submitting.html'>IEEE Cypher</a> (email cipher-cfp@ieee-security.org)
        li <a href='http://www.usenix.org/events/links_to_other.html'>Usenix</a> (email other_events@usenix.org)
        li <a href='http://www.iacr.org/events/submit.html'>International Association for Cryptologic Research Calendar</a> (form)      

    include includes/foot